.activity
  padding-top: 10px
  margin-left: 10px
  
  .activity-icon
    display: block
    float: left
    width: 28px
    height: 28px
    color: $color-ink-light
    background: $color-steel-light
    border: 2px solid $color-white
    border-radius: 50%
    font-size: 14px
    line-height: 25px
    margin-right: 6px
  
  .activity-body
    min-height: 30px
    line-height: 20px
    padding-top: 6px
    
    em
      font-style: normal
      font-weight: $bold-font-weight
      i { margin-right: 0 }
        
    em::before, span::before, time::before
      content: " "
    
    .user-widget, .action-status-widget, .team-widget
      white-space: nowrap
    
    time
      font-size: 14px
      color: $color-ink-light
      white-space: nowrap
  
    .avatar
      display: inline-block
      vertical-align: top
      width: 16px
      height: 16px
      border-radius: 2px
    
    .diff-toggle
      font-size: 12px
      font-style: italic
      font-weight: $bold-font-weight
      color: $color-ink-subtle
      white-space: nowrap

    .diff
      font-size: 14px
      margin: 4px 10px 0 34px
      padding: 8px
      background: $color-paper
      border: 1px solid $color-steel-light
      .added
        background: $color-diff-added
      .removed
        background: $color-diff-removed
        text-decoration: line-through
