.create-comment-form
  flex: none
  margin: 0
  padding-top: 10px
  padding-bottom: 10px
  border-top: 1px solid $color-steel
  background: $color-paper

  &::before
    top: 19px
    
  &::after
    top: 19px
    border-right-color: $color-white
  
  textarea
    width: 100%
    padding: 6px
    border: none !important
    outline: none !important
    resize: none
  
  .avatar
    border-color: transparent

  .create-comment-buttons
    display: flex
    justify-content: flex-end
    padding: 4px
    background: $color-steel-verylight
    border-top: 1px solid $color-steel-light
