.create-comment-form
  margin: 0
  padding-top: 10px
  padding-bottom: 10px

  &::before
    top: 19px
    
  &::after
    top: 19px
    border-right-color: #fff
  
  textarea
    width: 100%
    border: 0px
    padding: 6px
    outline: none !important
    resize: none

  .create-comment-buttons
    background: #efefef
    padding: 4px
    border-top: 1px solid #ccc