.actions
  display: flex
  flex-direction: column
  position: absolute
  width: 100%
  min-height: 100%
  
  .stage
    flex: none
    border-bottom: 1px solid #ccc
    
    &:last-child
      border-bottom: none
      flex: 1
    
    .title
      padding: 4px 10px
      color: #999
      font-size: 12px
      font-weight: $heavy-font-weight
      text-transform: uppercase
      background: $steel-highlight-color
      border-bottom: 1px solid #ccc
    
      .stage-controls
        float: right
        opacity: 0
        transition: opacity $hover-animation-delay ease-in-out
      
      &:hover
        .stage-controls { opacity: 1 }
      
    ul
      margin: 0
      padding: 0
      
      li
        list-style-type: none
        padding: 4px
        border-bottom: 1px dotted #ccc
        &:last-child
          border-bottom: none
    
    .drag-placeholder
      height: 30px
      visibility: normal
      background: $drop-indicator-background-color
