.action
      
  &:hover
    .action-controls { opacity: 1 }

  &.ui-sortable-helper
    list-style-type: none
    padding: 2px
    cursor: move
    border: 1px solid #aaa
    box-shadow: 0 0 5px $shadow-color
    .action-controls { opacity: 1 }

  .action-controls
    float: right
    opacity: 0
    color: #999
    margin: 6px 0 0 6px
    transition: opacity $hover-animation-delay ease-in-out
    .icon
      text-align: right
      transition: color $hover-animation-delay ease-in-out
      &:hover { color: $black }
    .icon-handle { cursor: move }
    .icon-trash  { cursor: pointer }
    
  .owner
    display: inline-block
    vertical-align: middle
    color: #999
    margin-right: 6px
    .avatar
      height: 28px
      width: 28px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
    
  .status
    display: inline-block
    vertical-align: middle
    margin-right: 6px
    border: 1px solid #999
    border-radius: 4px
    height: 26px
    line-height: 26px
    background: $bright-white
    text-align: center
    
  .text
    display: inline-block
    vertical-align: middle
    width: $card-panel-width - 180px
    
  &.complete
    .status
      color: #666
      background: #ddd
    .text
      text-decoration: line-through
      color: #666
      &:focus { text-decoration: none }
        
  &.warning
    .status { color: #900 }
    .text { color: #900 }
      
  &.inprogress
    .status { color: #090 }
    .text { color: #090 }
