.actions
  display: flex
  flex-direction: column
  
  .stage
    flex: none
    display: flex
    flex-direction: row
    border-bottom: 1px solid #ccc
    &:last-child { flex: 1 }
    
    .title
      flex: none
      width: 80px
      padding: 10px
      font-size: 12px
      font-weight: $heavy-font-weight
      text-transform: uppercase
      background: $steel-highlight-color
      border-left: 1px solid #ccc
    
    .stage-controls
      opacity: 0
      transition: opacity $hover-animation-delay ease-in-out
    
    &:hover
      .stage-controls
        opacity: 1
      
  ul
    margin: 0
    padding: 0
    
    li
      list-style-type: none
      padding: 8px 8px 0 8px
      &:last-child { padding-bottom: 8px }
    
    .drag-placeholder
      height: 30px
      visibility: normal
      background: $drop-indicator-background-color
