.action
  display: flex
  flex-direction: row
  position: relative

  .left-controls
    flex: none
    margin-right: 4px
    .icon
      color: #999
      transition: color $hover-animation-delay linear
      &:hover { color: $black }
    .icon-handle { cursor: move }
    
  .right-controls
    flex: none
    margin-left: 4px
    opacity: 0
    transition: opacity $hover-animation-delay linear
    .icon
      color: #999
      transition: color $hover-animation-delay linear
      &:hover { color: $black }
    .icon-trash { cursor: pointer }
    
  .status
    flex: none
    cursor: pointer
    margin-right: 4px
    border: 1px solid #999
    border-radius: 4px
    height: 20px
    line-height: 18px
    background: $bright-white
    text-align: center
    .icon
      font-size: 24px
      width: 20px
      
  .owner
    flex: none
    cursor: pointer
    margin-right: 4px
    color: #999
    .avatar
      height: 22px
      width: 22px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
    
  .text
    flex: 1
    font-size: 16px
    
  &.complete
    .status
      color: #666
      background: #ddd
    .text
      text-decoration: line-through
      color: #666
      &:focus { text-decoration: none }
        
  &.warning
    .status { color: #900 }
    .text { color: #900 }
      
  &.inprogress
    .status { color: #090 }
    .text { color: #090 }
      
  &:hover
    .right-controls { opacity: 1 }

  &.ui-sortable-helper
    list-style-type: none
    padding: 2px
    cursor: move
    border: 1px solid #aaa
    box-shadow: 0 0 5px $shadow-color
    .right-controls { opacity: 1 }

.overlay
  text-align: left
  .buttons
    padding-top: 4px

.status .overlay
  width: 200px

.owner .overlay
  width: 200px
