.card
  border: 1px solid $panel-border-color
  background: $panel-background-color
  width: $card-panel-width
  min-width: $card-panel-width
  z-index: 100

  .body
    position: relative
    flex: 1
    overflow-x: hidden
    overlow-y: auto
    
    .block
      
      &.expanded
        border-bottom: 1px solid $panel-block-border-color
      &:last-child
        border-bottom: 0
      
      & > .header
        background: linear-gradient(to bottom, $steel-highlight-color, $steel-lowlight-color)
        color: $panel-block-header-text-color
        font-size: 14px
        font-weight: $bold-font-weight
        line-height: 24px
        text-transform: uppercase
        padding: 2px 8px
        border-bottom: 1px solid $panel-block-border-color
        .toggle
          float: right
    
    .summary
      .contents
        padding: 8px
        font-size: 18px
        font-weight: $normal-font-weight
        line-height: 24px

@keyframes card-enter
  0%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $panel-margin
  50%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $card-panel-width + $panel-margin
  100%
    opacity: 1
    margin-left: 0
    margin-right: $panel-margin

.card.slide-enter
  animation: card-enter 250ms ease-out
  z-index: 99

@keyframes card-leave
  from
    opacity: 1
    margin-left: 0
  to
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)

.card.slide-leave
  animation: card-leave 200ms linear
  z-index: 99
