.timeline
  flex: 1
  overflow-y: auto
  font-size: 16px
  background: $panel-background-color
  user-select: text
  transform: translateZ(0)
  
  .notes
    position: relative
    z-index: 0
    background: $bright-white
    padding-bottom: 10px
    border-bottom: 2px solid #eee
  
    &::before
      display: block
      content: ""
      position: absolute
      top: 0
      left: 23px
      height: 100%
      width: 2px
      background: #eee
      z-index: -1
  
  .comment
    position: relative
    margin-top: 10px
    padding: 0 10px 0 50px
    z-index: 1
    
    &::before, &::after
      display: block
      position: absolute
      width: 0px
      height: 0px
      content: " "
      border: 6px solid transparent
    
    &::before
      top: 9px
      left: 38px
      border-right-color: #aaa
    
    &::after
      top: 9px
      left: 45px
      border-left-width: 0
      border-right-color: #f3f3f3
    
    .comment-user
      display: block
      float: left
      width: 32px
      height: 32px
      margin-left: -42px
      border: 2px solid #fff
      border-radius: 4px

    .comment-body
      position: relative
      border: 1px solid #ccc
      background: #fff
    
    .comment-header
      background: #f3f3f3
      padding: 4px 6px
      border-bottom: 1px solid #ccc
      font-size: 14px
      color: #999

      .user
        color: #333
        font-weight: $bold-font-weight

    .comment-content
      padding: 6px
  
  .create-comment-form
    margin: 0
    padding-top: 10px
    padding-bottom: 10px
  
    &::before
      top: 19px
      
    &::after
      top: 19px
      border-right-color: #fff
    
    textarea
      width: 100%
      border: 0px
      padding: 6px
      outline: none !important
      resize: none

    .create-comment-buttons
      background: #efefef
      padding: 4px
      border-top: 1px solid #ccc
      
  .activity
    padding-top: 10px
    margin-left: 10px
    
    .activity-icon
      display: block
      float: left
      width: 28px
      height: 28px
      color: #666
      background: #ddd
      border: 2px solid #fff
      border-radius: 50%
      font: 24px/24px $icon-font
      margin-right: 6px
    
    .activity-body
      min-height: 30px
      line-height: 20px
      padding-top: 3px
      
      em
        font-style: normal
        font-weight: $bold-font-weight
          
      em::before, span::before, time::before
        content: " "
      
      .user-widget, .action-status-widget, .team-widget
        white-space: nowrap
      
      time
        font-size: 14px
        color: #999
        white-space: nowrap
      
      .icon
        width: auto
    
      .avatar
        display: inline-block
        vertical-align: top
        width: 16px
        height: 16px
        border-radius: 2px
      
      .diff-toggle
        font-size: 12px
        font-style: italic
        color: #bbb
        white-space: nowrap

      .diff
        font-size: 14px
        margin: 4px 10px 0 31px
        padding: 4px
        background: #f9f9f9
        border: 1px solid #ccc
        .added
          background: #a6f3a6 //#eaffea
        .removed
          background: #f8cbcb // #ffecec
          text-decoration: line-through