.card > .footer
  flex: none
  z-index: $panel-layer
  padding: 8px
  background: linear-gradient(to bottom, $steel-highlight-color, $steel-lowlight-color)
  border-top: 1px solid $steel-light-border-color
  line-height: 0
  
  .left-buttons
    display: inline-block
    vertical-align: middle
    margin: 0 6px 0 0

  .right-buttons
    float: right
    display: inline-block
    vertical-align: middle
    margin: 0 0 0 6px

  .followers
    display: inline-block
    vertical-align: middle
    margin: 0
    padding: 0
    
    li
      display: inline-block
      list-style-type: none
      margin-right: 2px
      &:last-child
        margin-right: 0
      
      .avatar
        height: 22px
        width: 22px
        padding: 2px
        border: 1px solid $steel-light-border-color
        border-radius: 50%
        background: $bright-white
