.notes
  margin: 0
  padding: 10px
  
  li
    list-style-type: none

.note-group
  margin-bottom: 10px
  
  .header
    .avatar
      float: left
      height: 32px
      width: 32px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
      margin-right: 10px
    .meta
      color: $subtle-text-color
      font-size: 14px
      font-weight: $bold-font-weight
      .time
        margin-left: 6px
  
  ul
    margin: 0 0 0 42px
    padding: 6px 0 0 0
    
    li
      list-style-type: none
      line-height: 22px
    
    .note

      &.comment
        font-size: 16px
        color: $text-color
        
      &.activity
        font-size: 14px
        font-style: italic
        color: $subtle-text-color
