.card-checklist-action-list
  margin: 0
  padding: 0
  
  li
    list-style-type: none
    padding: 4px
    border-bottom: 1px dotted #ccc

  .drag-placeholder
    height: 30px
    visibility: normal
    background: $drop-indicator-background-color
