.card-action-owner
  flex: none
  cursor: pointer
  width: 24px
  line-height: 22px
  margin-right: 4px
  color: #999
  text-align: center
  
  .icon
    width: auto
    margin-top: 0
    
  .avatar
    vertical-align: middle
    height: 16px
    width: 16px
    border-radius: 2px

  .overlay
    width: 200px
