.card-action-status
  flex: none
  cursor: pointer
  text-align: center
  margin: 4px 0
  & > i { margin: 0 }

  .overlay
    width: 200px
  
.notstarted .card-action-status
  color: #999

.inprogress .card-action-status
  color: #090

.complete .card-action-status
  color: #666

.warning .card-action-status
  color: #900
