.card-action-text
  flex: 1
  font-size: 16px
    
.complete .card-action-text
  text-decoration: line-through
  color: #666
  &:focus { text-decoration: none }
      
.warning .card-action-text
  color: #900
    
.inprogress .card-action-text
  color: #090
