.card-checklist
  flex: none
  border-bottom: 1px solid #ccc
  
  &:last-child
    border-bottom: none
    flex: 1
  
  .title
    padding: 4px 10px
    color: #999
    font-size: 12px
    font-weight: $heavy-font-weight
    text-transform: uppercase
    background: $steel-highlight-color
    border-bottom: 1px solid #ccc
