.card-action
  display: flex
  flex-direction: row
  background-color: $color-white

  .move-handle
    flex: none
    width: 8px
    background-color: $color-steel-light
    border-right: 1px solid $color-steel
    cursor: move
    
  .right-controls
    flex: none
    padding-top: 10px
    margin-right: 10px
    opacity: 0
    transition: opacity $hover-animation-delay linear
    i
      margin: 0
      color: $color-ink-subtle
      transition: color $hover-animation-delay linear
      &:hover { color: $color-ink }
    .icon-trash { cursor: pointer }

  .overlay
    text-align: left
    .buttons
      padding-top: 4px

  &:hover
    .right-controls { opacity: 1 }
  
  &.inprogress
    background: $color-good-light

  &.warning
    background: $color-bad-light
    
  &.complete
    background: $color-steel-verylight
    
  &.ui-sortable-helper
    border: 1px solid $color-steel
    box-shadow: 0 0 5px black(30%)
