.card-action-status
  position: relative
  flex: none
  cursor: pointer
  margin-right: 10px
  
  & > i
    margin-right: 0
    margin-top: 12px

  .overlay
    cursor: normal
    width: 250px
    .right { float: right }
  
.notstarted .card-action-status
  color: $color-ink

.inprogress .card-action-status
  color: $color-good

.complete .card-action-status
  color: $color-ink-light

.warning .card-action-status
  color: $color-bad
