.card-checklist-action-list
  min-height: 30px
  
  & > li
    border: 1px solid $color-steel
    border-top: none
    &:first-child { border-top: 1px solid $color-steel }

  .drag-placeholder
    height: 30px
    visibility: normal
    background: $color-selection
