.card-action-text
  flex: 1
  font-size: 16px
  margin: 6px 10px 6px 8px
  line-height: 1.3em
    
.complete .card-action-text
  text-decoration: line-through
  color: $color-ink-light
  &:focus { text-decoration: none }
      
.warning .card-action-text
  color: $color-bad
    
.inprogress .card-action-text
  color: $color-good
