.card-action
  display: flex
  flex-direction: row
  position: relative

  .left-controls
    flex: none
    background-color: #efefef
    padding: 4px 2px
    line-height: 24px
    i
      margin: 0
      line-height: 24px
      color: #ccc
      transition: color $hover-animation-delay linear
      &:hover { color: $black }
    .icon-move { cursor: move }
    
  .right-controls
    flex: none
    margin-left: 4px
    line-height: 24px
    opacity: 0
    transition: opacity $hover-animation-delay linear
    i
      color: #ccc
      transition: color $hover-animation-delay linear
      &:hover { color: $black }
    .icon-trash { cursor: pointer }

  .overlay
    text-align: left
    .buttons
      padding-top: 4px

  &:hover
    .right-controls { opacity: 1 }
    
  &.ui-sortable-helper
    list-style-type: none
    padding: 2px
    cursor: move
    border: 1px solid #aaa
    box-shadow: 0 0 5px $shadow-color
    .right-controls { opacity: 1 }
