.card-action-owner
  flex: none
  cursor: pointer
  text-align: center
  width: 30px
  margin: 4px 0
  color: #999
  & > i { margin: 0 }
    
  .avatar
    vertical-align: middle
    height: 20px
    width: 20px
    border-radius: 2px

  .overlay
    width: 200px
