.create-action-form
  padding: 4px 4px 4px 30px
  height: 35px
  
  a
    display: block
    font-size: 14px
    font-style: italic
    line-height: 28px
    color: #666
    &:hover, &:active
      color: $black
  
  input
    display: inline-block
    width: $card-panel-width - 125px
    padding: 2px
    outline: none !important
    margin-bottom: 2px
  
  .buttons
    display: inline-block
    vertical-align: top
    padding: 1px 0 0 4px