.card-owner
  display: block
  margin-right: 8px
  
  &.icon-team, &.icon-complete
    height: 54px
    width: 54px
    font-size: 48px
    line-height: 46px
    padding: 2px
    background: $color-white
    color: $color-steel-medium
    border: 2px solid $color-steel-medium
    border-radius: 20%
  
  &.icon-complete
    color: $color-good
    
  &.avatar
    cursor: pointer
