@import '~Theme.styl'

.card-owner
  width: 48px
  height: 48px
  margin-right: 8px
  padding: 2px
  border: 1px solid $color-steel-medium
  border-radius: 6px
  background: $color-white
  color: $color-steel-medium
  font-size: 42px
  line-height: 40px
  text-align: center
  
  &.icon-complete
    color: $color-good
