.chiclet
  min-width: 30px
  margin-left: 4px
  padding: 4px 7px
  background: $color-steel
  font-size: 12px
  font-weight: $heavy-font-weight
  text-shadow: none
  text-align: center
  line-height: 1em
  border-radius: 8px
