.menu-separator
  display: flex
  position: relative
  z-index: 0
  overflow: hidden
  justify-content: center
  
  .text
    font-size: 13px
    color: $color-ink-light
    font-weight: $bold-font-weight
    padding: 0 8px
    text-align: center
    background: $color-white
    
  &:after
    content: " "
    z-index: -1
    position: absolute
    top: 50%
    left: 0px
    height: 1px
    width: 100%
    background: $color-divider

.menu-separator-line
  height: 1px
  background: $color-divider
