@import '~Theme.styl'

a.trigger
  cursor: pointer

.dialog-backdrop
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: $floating-layer
  background: black(70%)
  display: flex
  align-items: center
  justify-content: center
  
  &.fade-enter
    animation: dialog-backdrop-enter 150ms ease-out
    .dialog { animation: dialog-enter 150ms ease-out }
    
  &.fade-leave
    animation: dialog-backdrop-leave 150ms linear
    .dialog { animation: dialog-leave 150ms linear }

.dialog
  background: $color-paper
  border: 1px solid $color-black
  box-shadow: 0px 0px 20px black(90%)
  display: flex
  flex-direction: column
  border-radius: 6px

.dialog-header
  flex: none
  padding: 10px 14px
  background: $color-steel
  font-size: 16px
  font-weight: $heavy-font-weight
  border-bottom: 1px solid $color-steel-dark
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  i
    margin-right: 8px
    font-size: 22px

.dialog-content
  flex: 1
  display: flex
  flex-direction: column
  padding: 14px
  border-bottom: 1px solid $color-steel

.dialog-buttons
  flex: none
  display: flex
  justify-content: flex-end
  padding: 8px 14px
  background: $color-steel-light
  border-top: 1px solid $color-steel-verylight
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 6px

@keyframes dialog-backdrop-enter
  from
    opacity: 0
  to
    opacity: 1

@keyframes dialog-backdrop-leave
  from
    opacity: 1
  to
    opacity: 0

@keyframes dialog-enter
  from
    opacity: 0
    transform: translateY(50px)
  to
    opacity: 1
    transform: translateY(0px)

@keyframes dialog-leave
  from
    opacity: 1
    transform: translateY(0px)
  to
    opacity: 0
    transform: translateY(50px)
