.drawer-container
  height: 100%

.drawer
  flex: none
  height: 100%
  width: $drawer-width
  margin: 0
  padding: 6px
  overflow-y: auto
  overflow-x: visible
  background: $color-charcoal
  
  &.slide-enter { animation: drawer-enter 200ms ease-out }
  &.slide-leave { animation: drawer-leave 200ms ease-in }

@keyframes drawer-enter
  0%
    margin-left: -($drawer-width)
  100%
    margin-left: 0

@keyframes drawer-leave
  from
    margin-left: 0
  to
    margin-left: -($drawer-width)
