.field
  display: flex
  flex-direction: column
  margin-bottom: 10px
  font-size: 16px
  &:last-child { margin-bottom: 0 }
  &.expand
    flex: 1
    min-height: 0px
  
  &.valid
    .field-status
      color: green(700)
    input
      background: green(50) !important
      border-color: green(200) !important

  &.error
    .field-status
      color: red(700)
    input
      background: red(50) !important
      border-color: red(200) !important
  
  .field-meta
    position: relative
    display: flex
    margin-bottom: 8px
    .field-icon
      color: $color-ink-light
      line-height: 16px
    .field-label
      flex: 1
      font-weight: $bold-font-weight
    .field-status
      & > i { margin-right: 0 }
  
  .field-input
    flex: 1
    min-height: 0px
    display: flex
    flex-direction: column
    margin-bottom: 8px

  .hint
    font-size: 14px
    font-style: italic
    font-weight: $bold-font-weight
    color: $color-ink-light
    line-height: 18px
