.file-name
  font-size: 14px
  line-height: 24px
  display: flex
  
  .name
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    
  .extension
    color: $color-ink-light
    display: none
  
  &:hover
    .extension
      display: block