.file-icon
  position: relative
  
  i
    font-size: 70px
    line-height: 70px
    color: $color-steel
    margin-right: -4px
  
  .extension
    position: absolute
    bottom: 10px
    left: -8px
    background: $color-steel
    font-size: 11px
    line-height: 11px
    font-weight: $bold-font-weight
    color: $color-white
    border: 2px solid $color-white
    border-radius: 5px
    padding: 4px 8px
    text-transform: uppercase
    z-index: 2