i
  display: inline-block
  vertical-align: top
  font-family: $icon-font
  font-size: 18px
  margin-right: 4px
  text-align: center

  for $name in $color-names
    &.{$name} { color: theme-color($name, 700) }
  
i:before
  font-family: $icon-font !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-clock:before       { content: "\e000" }
.icon-comment:before     { content: "\e001" }
.icon-strategy:before    { content: "\e002" }
.icon-action:before      { content: "\e003" }
.icon-pass:before        { content: "\e004" }
.icon-help:before        { content: "\e005" }
.icon-stack:before       { content: "\e006" }
.icon-backlog:before     { content: "\e006" }
.icon-logout:before      { content: "\e007" }
.icon-private:before     { content: "\e008" }
.icon-drawer:before      { content: "\e009" }
.icon-compose:before     { content: "\e00a" }
.icon-drafts:before      { content: "\e00a" }
.icon-edit:before        { content: "\e00b" }
.icon-follow:before      { content: "\e00c" }
.icon-follow-open:before { content: "\e00d" }
.icon-queue:before       { content: "\e00e" }
.icon-accept:before      { content: "\e00f" }
.icon-trash:before       { content: "\e010" }
.icon-workspace:before   { content: "\e011" }
.icon-goal:before        { content: "\e012" }
.icon-related:before     { content: "\e013" }
.icon-move:before        { content: "\e014" }
.icon-caret:before       { content: "\e015" }
.icon-complete:before    { content: "\e016" }
.icon-bigpicture:before  { content: "\e017" }
.icon-user:before        { content: "\e018" }
.icon-team:before        { content: "\e019" }
.icon-org:before         { content: "\e01a" }
.icon-warning:before     { content: "\e01b" }
.icon-notstarted:before  { content: "\e01c" }
.icon-inprogress:before  { content: "\e01d" }
.icon-card:before        { content: "\e01e" }
.icon-trigger:before     { content: "\e01f" }
.icon-settings:before    { content: "\e020" }
.icon-inbox:before       { content: "\e021" }
.icon-move-handle:before { content: "\e022" }
.icon-attach:before      { content: "\e023" }
.icon-maximize:before    { content: "\e024" }
.icon-minimize:before    { content: "\e025" }
.icon-close:before       { content: "\e026" }
.icon-checklist:before   { content: "\e027" }
.icon-search:before      { content: "\e028" }
.icon-followers:before   { content: "\e029" }
.icon-link:before        { content: "\e02a" }
.icon-knowledge:before   { content: "\e02b" }
.icon-important:before   { content: "\e02c" }
.icon-secure:before      { content: "\e02d" }
.icon-archive:before     { content: "\e02e" }
.icon-restore:before     { content: "\e02f" }
.icon-remove:before      { content: "\e030" }
.icon-trigger-up:before  { content: "\e031" }
.icon-email:before       { content: "\e032" }
.icon-kind:before        { content: "\e033" }
.icon-add:before         { content: "\e034" }
.icon-switch:before      { content: "\e035" }
.icon-invite:before      { content: "\e036" }
.icon-error:before       { content: "\e037" }
.icon-success:before     { content: "\e038" }
.icon-idle:before        { content: "\e039" }
.icon-token:before       { content: "\e03a" }
.icon-workflow:before    { content: "\e03b" }
.icon-back:before        { content: "\e03c" }
.icon-forward:before     { content: "\e03d" }
.icon-info:before        { content: "\e03e" }
.icon-caret-up:before    { content: "\e03f" }
.icon-billing:before     { content: "\e040" }
.icon-pin:before         { content: "\e041" }