.input
  position: relative
  width: 100%
  
  input[type=text], input[type=email], input[type=password], textarea
    width: 100%
    padding: 4px
    background: $color-white
    border: 1px solid $color-steel
    transition: border $hover-animation-delay linear
    &:focus
      border: 1px solid $color-steel-dark
      outline: none
  
  input[type=checkbox], input[type=radio]
    cursor: pointer
    margin-right: 10px
  
  select
    font-size: 15px
    width: 100%
    background: $color-white
    border: 1px solid $color-steel
    &:focus
      border: 1px solid $color-steel-dark
      outline: none
  
  ul
    li
      font-size: 15px
      line-height: 19px
      margin-left: 4px
  
  &.has-left-icon
    input { padding-left: 30px }
    .input-placeholder { left: 34px }
  
  &.has-right-icon
    input { padding-right: 30px }
  
  i
    position: absolute
    color: $color-ink-light
    margin-right: 0
    top: 6px
    &.left-icon { left: 8px }
    &.right-icon { right: 8px }
        
  .input-placeholder
    position: absolute
    top: 4px
    left: 6px
    font-size: 0.875em
    line-height: 1.5em
    font-style: italic
    font-weight: $bold-font-weight
    color: $color-ink-subtle
    pointer-events: none

  .input-text
    cursor: pointer
    font-size: 16px
    font-weight: $bold-font-weight
