.leader-toggle
  background: $color-steel-light
  padding: 2px 8px
  border-radius: 10px
  color: $color-ink-light
  font-size: 11px
  font-weight: $heavy-font-weight
  text-transform: uppercase
  transition: all $hover-animation-delay linear
  
  &:hover
    color: $color-ink
    background: $color-steel
  
  i { font-size: 16px }
