.modal-message
  width: 350px
  align-self: center
  background: $color-white
  color: $color-ink-light
  font-size: 18px
  font-style: italic
  line-height: 24px
  margin: 0 50px

  a
    color: $color-link
    text-decoration: underline
    transition: all $hover-animation-delay linear
    &:hover
      color: $color-link-active