.static-selector
  position: relative
  
  .selector-trigger
    cursor: pointer
    border: 1px solid $color-steel
    border-radius: 4px
    padding: 6px 8px
    box-shadow: 0 1px 0 black(10%)
    outline: none
    
    &:focus
      background: $color-selection
      border: 1px solid $color-steel-dark
      outline: none
    
    .selector-value
      &.placeholder
        font-size: 14px
        font-style: italic
        font-weight: $bold-font-weight
        color: $color-ink-light
  
  &.expanded
    .selector-trigger
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
  
  .selector-options
    position: absolute
    z-index: $floating-layer
    width: 100%
    border: 1px solid $color-steel-dark
    background: $color-white
    margin-top: -1px
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    
    .selector-option
      cursor: pointer
      padding: 6px 8px
      &.highlighted { background: $color-selection }
