.user-search-box
  position: relative
  
  .option-list
    position: absolute
    z-index: $floating-layer
    width: 100%
    border: 1px solid $color-steel
    background: $color-white
    margin-top: -1px
