/* Stack Panel */

@-webkit-keyframes stack-enter {
  from { margin-left: -($stack-panel-width + $panel-margin); }
  to   { margin-left: 0; }
}

.stack.slide-enter {
  -webkit-animation: stack-enter 200ms ease-out;
}

@-webkit-keyframes stack-leave {
  from { margin-left: 0; }
  to   { margin-left: -($stack-panel-width + $panel-margin); }
}

.stack.slide-leave {
  -webkit-animation: stack-leave 50ms linear;
}

/* Card Panel */

@-webkit-keyframes card-enter {
  from { margin-left: -($card-panel-width + $panel-margin); }
  to   { margin-left: 0; }
}

.card.slide-enter {
  -webkit-animation: card-enter 200ms ease-out;
}

@-webkit-keyframes card-leave {
  from { margin-left: 0; }
  to   { margin-left: -($card-panel-width + $panel-margin); }
}

.card.slide-leave {
  -webkit-animation: card-leave 100ms linear;
}

/* Command Panel */

@-webkit-keyframes command-enter {
  from { margin-top: -200px; }
  to   { margin-top: 0px; }
}

.command.slide-enter {
  -webkit-animation: command-enter 200ms ease-out;
}

@-webkit-keyframes command-leave {
  from { margin-top: 0px; }
  to   { margin-top: -200px; }
}

.command.slide-leave {
  -webkit-animation: command-leave 50ms linear;
}
