/* Stack Panel */

@-webkit-keyframes stack-enter {
  0%   { opacity: 0; margin-left: -($stack-panel-width + $panel-margin); margin-right: $panel-margin; }
  50%  { opacity: 0; margin-left: -($stack-panel-width + $panel-margin); margin-right: $stack-panel-width + $panel-margin; }
  100% { opacity: 1; margin-left: 0; margin-right: $panel-margin; }
}

.stack.slide-enter {
  -webkit-animation: stack-enter 300ms ease-out;
}

@-webkit-keyframes stack-leave {
  from { opacity: 1; margin-left: 0; }
  to   { opacity: 0; margin-left: -($stack-panel-width + $panel-margin); }
}

.stack.slide-leave {
  -webkit-animation: stack-leave 200ms linear;
}

/* Card Panel */

@-webkit-keyframes card-enter {
  0%   { opacity: 0; margin-left: -($card-panel-width + $panel-margin); margin-right: $panel-margin; }
  50%  { opacity: 0; margin-left: -($card-panel-width + $panel-margin); margin-right: $card-panel-width + $panel-margin; }
  100% { opacity: 1; margin-left: 0; margin-right: $panel-margin; }
}

.card.slide-enter {
  -webkit-animation: card-enter 300ms ease-out;
}

@-webkit-keyframes card-leave {
  from { opacity: 1; margin-left: 0; }
  to   { opacity: 0; margin-left: -($card-panel-width + $panel-margin); }
}

.card.slide-leave {
  -webkit-animation: card-leave 200ms linear;
}

/* Command Panel */

@-webkit-keyframes command-enter {
  from { margin-top: -200px; }
  to   { margin-top: 0px; }
}

.command.slide-enter {
  -webkit-animation: command-enter 200ms ease-out;
}

@-webkit-keyframes command-leave {
  from { margin-top: 0px; }
  to   { margin-top: -200px; }
}

.command.slide-leave {
  -webkit-animation: command-leave 100ms linear;
}
