.stack-frame.slide-enter {
  width: 0px;
  transition: all 250ms ease-out;
  .stack {
    transition: all 250ms ease-out;
    transform: translateX(-$stack-panel-width);
    opacity: 0;
  }
  &.slide-enter-active {
    width: $stack-panel-width + $panel-margin;
    .stack {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.stack-frame.slide-leave {
  width: $stack-panel-width + $panel-margin;
  transition: all 250ms linear;
  .stack {
    transition: all 250ms linear;
    transform: translateX(0);
    opacity: 1;
  }
  &.slide-leave-active {
    width: 0px;
    .stack {
      transform: translateX(-$stack-panel-width);
      opacity: 0;
    }
  }
}

.card-frame.slide-enter {
  width: 0px;
  transition: all 250ms ease-out;
  .card {
    transition: all 250ms ease-out;
    transform: translateX(-$card-panel-width);
    opacity: 0;
  }
  &.slide-enter-active {
    width: $card-panel-width + $panel-margin;
    .card {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.card-frame.slide-leave {
  width: $card-panel-width + $panel-margin;
  transition: all 250ms linear;
  .card {
    transition: all 250ms linear;
    transform: translateX(0);
    opacity: 1;
  }
  &.slide-leave-active {
    width: 0px;
    .card {
      transform: translateX(-$card-panel-width);
      opacity: 0;
    }
  }
}

.command-frame.slide-enter {
  max-height: 0px;
  transition: all 200ms ease-out;
  .command {
    transform: translateY(-200px);
    transition: all 200ms ease-out;
  }
  &.slide-enter-active {
    max-height: 200px;
    .command {
      transform: translateY(0);
    }
  }
}

.command-frame.slide-leave {
  max-height: 200px;
  transition: all 200ms linear;
  .command {
    transform: translateY(0);
    transition: all 200ms linear;
  }
  &.slide-leave-active {
    max-height: 0px;
    .command {
      transform: translateY(-200px);
    }
  }
}
