@charset "UTF-8"

@font-face
  font-family: "TaskTorchIcons"
  src:url("/fonts/tasktorch.eot")
  src:url("/fonts/tasktorch.eot?#iefix") format("embedded-opentype"),
    url("/fonts/tasktorch.woff") format("woff"),
    url("/fonts/tasktorch.ttf") format("truetype"),
    url("/fonts/tasktorch.svg#tasktorch") format("svg")
  font-weight: normal
  font-style: normal

html
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

ul
  margin: 0
  padding: 0
  li { list-style-type: none }

body
  font-family: $shell-font
  font-weight: $normal-font-weight
  font-size: 16px
  line-height: 1em
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $bright-white url('/img/bg.png')
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  user-select: none
