html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Entypo';
  src: url('/dist/entypo.woff');
}

body {
  font-family: $font;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(/dist/background.jpg);
  overflow: hidden;
}

@mixin editable-text {
  border: $editable-text-border;
  background: transparent;
  transition-property: border, background, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  &.dirty {
    border: $editable-text-dirty-border !important;
  }
  &:hover {
    background: $editable-text-hover-background;
    border: $editable-text-hover-border;
  }
  &:focus {
    background: $editable-text-active-background;
    border: $editable-text-active-border;
    outline: none !important;
    box-shadow: $editable-text-active-shadow;
  }
}

input.editable {
  @include editable-text;
  padding: 2px;
  width: 100%;
}

textarea.editable {
  @include editable-text;
  width: 100%;
  padding: 4px;
  resize: none;
  overflow: hidden;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font: 34px/16px normal $icon-font;
  width: 24px;
  text-align: center;
  margin-top: -2px;
}

.sidebar {
  position: absolute;
  top: $header-height;
  left: 0;
  vertical-align: top;
  width: $sidebar-width;
  height: 100%;
  z-index: 1000;
  border-right: $sidebar-border;
  background: $sidebar-background;
  box-shadow: $sidebar-shadow;
  margin: 0;
  margin-bottom: $logo-height;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  .group {
    background: $sidebar-group-background;
    border-bottom: $sidebar-group-border;
    .header {
      font-size: 12px;
      padding: 4px 8px;
      font-weight: 600;
      text-transform: uppercase;
      color: $sidebar-group-header-text-color;
      text-shadow: $sidebar-group-header-text-shadow;
      background: $sidebar-group-header-background;
      border-bottom: $sidebar-group-header-border;
    }
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li a {
      font-size: 13px;
      cursor: pointer;
      display: block;
      padding: 6px 8px;
      background: $sidebar-item-background;
      color: $sidebar-item-text-color;
      text-decoration: none;
      transition: background 0.1s ease-in-out;
      border-left: 6px solid transparent;
      &.active {
        color: $sidebar-item-active-text-color;
        background: $sidebar-item-active-background;
        border-left: 6px solid $active;
        box-shadow: $sidebar-item-active-shadow;
        .icon {
          color: $sidebar-item-active-icon-color;
        }
      }
      .icon {
        color: $sidebar-item-icon-color;
      }
      .name { padding-left: 4px; }
    }
  }
}

.panel-slide-enter {
  opacity: 0;
  transform: translateX(-300px);
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  transform-origin: left center;
  transition-timing-function: ease-in;
  -webkit-transform: translateX(-300px);
  -webkit-transform-origin: left center;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  &.panel-slide-enter-active {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

.panel-slide-leave {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transform-origin: left center;
  -webkit-transform: translateX(0);
  -webkit-transform-origin: left center;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  &.panel-slide-leave-active {
    opacity: 0;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
  }
}
