html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Entypo";
  src: url(/dist/entypo.woff);
}

body {
  font-family: $font;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(/dist/background.jpg);
  overflow: hidden;
}

@mixin editable-text {
  border: 1px dashed $editable-text-border-color;
  transition-property: border, background, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  &.dirty {
    border-color: #090 !important;
  }
  &:hover {
    background: $editable-text-hover-background-color;
    border: 1px dashed $editable-text-hover-border-color;
  }
  &:focus {
    background: $editable-text-active-background-color;
    border: 1px solid $editable-text-active-border-color;
    outline: none !important;
    box-shadow: $editable-text-active-shadow;
  }
}

input.editable {
  @include editable-text;
  padding: 4px;
  width: 100%;
}

textarea.editable {
  @include editable-text;
  width: 100%;
  padding: 4px;
  resize: none;
  overflow: hidden;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font: 30px/16px normal $icon-font;
  width: 24px;
  text-align: center;
  margin-top: -2px;
  &.icon-accept:before { content: "\1F44D"; }
  &.icon-close:before { content: "\274C"; }
  &.icon-stack-inbox:before { content: "\1F4E5"; }
  &.icon-stack-queue:before { content: "\1F4C4"; }
  &.icon-stack-backlog:before { content: "\E736"; }
  &.icon-do-now:before { content: "\1F3AF"; }
  &.icon-do-later:before { content: "\E003"; }
  &.icon-hand-back:before { content: "\E712"; }
  &.icon-hand-off:before { content: "\27A6"; }
  &.icon-card:before { content: "\E730"; }
  &.icon-user:before { content: "\1F464"; }
  &.icon-users:before { content: "\1F465"; }
  &.icon-workspace:before { content: "\2692"; }
  &.icon-bigpicture:before { content: "\1F30E"; }
  &.icon-planning:before { content: "\1F56A"; }
  &.icon-focus:before { content: "\1F3AF"; }
  &.icon-archive:before { content: "\1F4E6"; }
  &.icon-trash:before { content: "\E729"; }
  &.icon-team:before { content: "\1F465"; }
  &.icon-focus:before { content: "\1F3AF"; }
  &.icon-goal:before { content: "\1F3C6"; }
}

@mixin panel-flow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  @include panel-flow;
  width: $sidebar-width;
  z-index: 1000;
  border-right: 1px solid $sidebar-border-color;
  background: $sidebar-background-color;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
}

.panel-group {
  @include panel-flow;
}

.panel {
  @include panel-flow;
  border-right: 1px solid $panel-border-color;
  background: $panel-background-color;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  .header {
    font-size: 14px;
    font-weight: 600;
    color: $panel-header-text-color;
    background: $panel-header-background-color;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid $panel-border-color;
    .title {
      display: inline-block;
      padding-left: 0.2em;
    }
    .close {
      color: $panel-header-icon-color;
      float: right;
      cursor: pointer;
    }
  }
}

.panel-slide-enter {
  opacity: 0;
  transform: translateX(-100px);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  -webkit-transform: translateX(-100px);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  &.panel-slide-enter-active {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

.panel-slide-leave {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: left top;
  -webkit-transform: translateX(0);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform-origin: left top;
  &.panel-slide-leave-active {
    opacity: 0;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
  }
}
