$panel-background-color: #f9f9f9;
$panel-header-background-color: #ccc;
$panel-header-font-color: #666;
$panel-border-color: #999;
$icon-font-color: #666;
$widget-font-color: #fff;
$widget-font-shadow-color: rgba(0, 0, 0, 0.3);
$widget-background-color: #888;
$widget-border-color: #999;

body {
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Entypo";
  src: url(/dist/entypo.woff);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font: 2.2em/0.5em "Entypo";
  color: $icon-font-color;
  width: 0.75em;
  text-align: center;
  &.icon-close:before { content: "\274C"; }
  &.icon-stack-inbox:before { content: "\1F4E5"; }
  &.icon-stack-queue:before { content: "\1F4C4"; }
  &.icon-stack-backlog:before { content: "\E736"; }
}

.screen {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar-track {
    background: #efefef;
    border-top: 1px solid #ccc;
  }
  &::-webkit-scrollbar {
    height: 16px;
    padding-top: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    background-clip: content-box;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 16px;
  }
}

@mixin flow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  @include flow;
  width: 250px;
  z-index: 1000;
}

.widget {
  width: 230px;
  color: $widget-font-color;
  background: $widget-background-color;
  border-right: 1px solid $widget-border-color;
  padding: 10px;
}

.organization.widget {
  font-size: 18px;
  font-weight: 400;
  text-shadow: 2px 2px $widget-font-shadow-color;
}

.user.widget {
  position: absolute;
  left: 0;
  bottom: 0;
  .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 10px;
  }
  .controls {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
  }
}

.panel {
  @include flow;
  border-right: 1px solid $panel-border-color;
  background: $panel-background-color;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  .header {
    font-size: 13px;
    font-weight: 600;
    color: $panel-header-font-color;
    background: $panel-header-background-color;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid $panel-border-color;
    .title {
      display: inline-block;
      padding-left: 0.2em;
    }
    .close {
      float: right;
      cursor: pointer;
    }
  }
}

.stack-list {
  width: 250px;
  max-width: 250px;
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    .stack-list-item {
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
      display: block;
      padding: 5px 10px;
      background: #fff;
      border-bottom: 1px solid $panel-border-color;
      .stack-name { padding-left: 0.2em; }
      &.active {
        border-left: 6px solid $panel-border-color;
      }
      transition: border 0.1s ease-in-out;
      .stack-card-count {
        display: inline-block;
        float: right;
        color: #999;
        text-align: right;
      }
    }
  }
}

.stack {
  width: 300px;
  .stack-card {
    cursor: pointer;
    border-bottom: 1px solid $panel-border-color;
    background: #fff;
    padding: 6px;
    &.dragging { cursor: move; }
    .card-top {
      .title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
      }
      .handoff {
        font-size: 11px;
        color: #999;
        em {
          font-style: normal;
          color: #666;
        }
      }
      padding: 2px 6px;
      border-left: 6px solid #999;
    }
    .card-bottom {
      color: #333;
      font-size: 12px;
      padding-top: 6px;
      margin-top: 6px;
      border-top: 1px dotted #ccc;
    }
  }
}

.card {
  width: 600px;
}

.panel-slide-enter {
  opacity: 0;
  transform: translateX(-100px);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  &.panel-slide-enter-active { opacity: 1; transform: translateX(0px); }
}

.panel-slide-leave {
  opacity: 1;
  transform: translateX(0px);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: left top;
  &.panel-slide-leave-active { opacity: 0; transform: scaleX(0.5) translateX(-100px); }
}