$font-color: #000;
$panel-background-color: #f9f9f9;
$panel-header-background-color: #ccc;
$panel-header-font-color: #666;
$panel-border-color: #999;
$action-bar-background-color: #ddd;
$action-bar-button-color: #ccc;
$action-bar-border-color: #999;
$action-bar-font-color: #666;
$icon-font-color: #666;
$header-footer-font-color: #fff;
$header-footer-font-shadow-color: rgba(0, 0, 0, 0.5);
$header-footer-background-color: #aaa;
$header-footer-border-color: #666;
$sidebar-width: 200px;
$stack-width: 291px;
$card-width: 582px;
$active-marker-color: #ccc;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(/dist/background.jpg);
  overflow: hidden;
}

@mixin editable-text {
  border: 1px dashed rgba(0, 0, 0, 0);
  transition-property: border, background, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  &.dirty {
    border-color: #090 !important;
  }
  &:hover {
    background: #f9f9f9;
    border: 1px dashed #aaa;
  }
  &:focus {
    background: #fff;
    border: 1px solid #888;
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

input.editable {
  @include editable-text;
  padding: 4px;
  width: 100%;
}

textarea.editable {
  @include editable-text;
  width: 100%;
  padding: 4px;
  resize: none;
  overflow: hidden;
}

@font-face {
  font-family: "Entypo";
  src: url(/dist/entypo.woff);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font: 30px/16px normal "Entypo";
  width: 24px;
  text-align: center;
  margin-top: -2px;
  &.icon-accept:before { content: "\1F44D"; }
  &.icon-close:before { content: "\274C"; }
  &.icon-stack-inbox:before { content: "\1F4E5"; }
  &.icon-stack-queue:before { content: "\1F4C4"; }
  &.icon-stack-backlog:before { content: "\E736"; }
  &.icon-do-now:before { content: "\1F3AF"; }
  &.icon-do-later:before { content: "\E003"; }
  &.icon-hand-back:before { content: "\E712"; }
  &.icon-hand-off:before { content: "\27A6"; }
  &.icon-card:before { content: "\E730"; }
  &.icon-user:before { content: "\1F464"; }
  &.icon-users:before { content: "\1F465"; }
  &.icon-workspace:before { content: "\2692"; }
  &.icon-bigpicture:before { content: "\1F30E"; }
  &.icon-planning:before { content: "\1F56A"; }
  &.icon-focus:before { content: "\1F3AF"; }
  &.icon-archive:before { content: "\1F4E6"; }
  &.icon-trash:before { content: "\E729"; }
  &.icon-team:before { content: "\1F465"; }
  &.icon-focus:before { content: "\1F3AF"; }
  &.icon-goal:before { content: "\1F3C6"; }
}

.shell {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.shell-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  width: 100%;
  color: $header-footer-font-color;
  z-index: 9999;
  .organization {
    float: left;
    width: 200px;
    height: 100%;
    padding: 8px 4px 4px 10px;
    background: #555;
    .organization-name {
      float: left;
      font-size: 16px;
      text-shadow: 1px 1px 2px $header-footer-font-shadow-color;
    }
    .menu-trigger {
      float: right;
      color: #999;
      padding-top: 4px;
      padding-right: 8px;
      font: 24px/16px normal "Entypo";
    }
    .widgets {
      clear: both;
      .presence {
        font-size: 14px;
        font-weight: 600;
        color: #999;
      }
      .icon {
        width: 18px;
        font-size: 24px;
        text-align: left;
        color: #999;
      }
    }
  }
  .header-bar {
    margin-left: 200px;
    height: 100%;
    border-bottom: 1px solid $header-footer-border-color;
    background: linear-gradient(to bottom, #999, #aaa);
  }
  .navigation {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin: 0 auto;
    a {
      padding: 10px 0;
      font-size: 15px;
      font-weight: 600;
      line-height: 30px;
      color: #666;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 140px;
      height: 100%;
      border-right: 1px solid #666;
      .icon {
        color: #666;
        text-align: left;
      }
      &.active {
        color: #444;
        background: #999;
        border-bottom: 4px solid #777;
        .icon { color: #444; }
      }
    }
  }
  .user {
    display: inline-block;
    height: 100%;
    float: right;
    .focused-card {
      float: left;
      height: 100%;
      width: 250px;
      padding: 8px 10px;
      font-size: 14px;
      color: #ccc;
      font-weight: thin;
      border-right: 1px solid #555;
      background: #555;
      text-decoration: none;
      transition-property: color background;
      transition-duration: 0.15s;
      transition-timing-function: ease-in-out;
      &:hover {
        color: #fff;
        background: #666;
      }
      .title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-shadow: 1px 1px 2px $header-footer-font-shadow-color;
      }
    }
    .user-profile {
      float: right;
      height: 100%;
      padding: 8px;
      background: #444;
      .menu-trigger {
        display: inline-block;
        vertical-align: middle;
        color: #999;
        padding-right: 8px;
        font: 24px/16px normal "Entypo";
      }
      .avatar {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #666;
        border-radius: 50%;
      }
    }
  }
}

.screen {
  padding-top: 54px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar-track {
    background: #efefef;
    border-top: 1px solid #ccc;
  }
  &::-webkit-scrollbar {
    height: 16px;
    padding-top: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    background-clip: content-box;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 16px;
  }  
}

@mixin flow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  @include flow;
  width: $sidebar-width;
  z-index: 1000;
  border-right: 1px solid $panel-border-color;
  background: $panel-background-color;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
}

.search {
  padding: 0 10px 10px;
  background: #555;
  input {
    width: 100%;
    font-size: 13px;
    padding: 4px 8px;
    background: #666;
    border: 1px solid #888;
    border-radius: 4px;
    transition-property: border, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:focus {
      color: #000;
      background: #fff;
      outline: none !important;
    }
  }
}

.panel-group {
  @include flow;
}

.panel {
  @include flow;
  border-right: 1px solid $panel-border-color;
  background: $panel-background-color;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  .header {
    font-size: 14px;
    font-weight: 600;
    color: $panel-header-font-color;
    background: $panel-header-background-color;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid $panel-border-color;
    .title {
      display: inline-block;
      padding-left: 0.2em;
    }
    .close {
      color: $panel-header-font-color;
      float: right;
      cursor: pointer;
    }
  }
}

.panel-slide-enter {
  opacity: 0;
  transform: translateX(-100px);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  -webkit-transform: translateX(-100px);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  &.panel-slide-enter-active {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

.panel-slide-leave {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: left top;
  -webkit-transform: translateX(0);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform-origin: left top;
  &.panel-slide-leave-active {
    opacity: 0;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
  }
}

.stack-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  .stack-list-item a {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 6px 8px;
    background: #fff;
    border-bottom: 1px solid $panel-border-color;
    color: $font-color;
    text-decoration: none;
    .stack-name { padding-left: 0.2em; }
    &.active {
      border-right: 4px solid $active-marker-color;
    }
    transition: border 0.1s ease-in-out;
    .stack-card-count {
      display: inline-block;
      float: right;
      color: #999;
      text-align: right;
    }
  }
}

.stack {
  width: $stack-width;
  .card-list {
    margin: 0;
    padding: 0;
  }
}

.stack-card {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border-bottom: 1px solid $panel-border-color;
  background: #fff;
  padding: 6px;
  &.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  &.active {
    border-right: 4px solid $active-marker-color;
  }
  transition: border 0.1s ease-in-out;  
  .card-top {
    .title {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .handoff {
      font-size: 12px;
      color: #999;
      em {
        font-style: normal;
        color: #666;
      }
    }
    padding: 2px 6px;
    border-left: 6px solid #999;
  }
  .card-bottom {
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    color: #666;
    font-size: 13px;
    line-height: 17px;
    height: 57px;
  }
}

.card {
  width: $card-width;
  background: #fff;
  .action-bar {
    width: 100%;
    padding: 10px 10px 0;
    button {
      display: inline-block;
      margin-right: 10px;
      font-size: 13px;
      font-weight: 600;
      padding: 6px 10px;
      color: #666;
      background: linear-gradient(to bottom, #eee, #ddd);
      box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
      border: 1px solid #ccc;
      border-radius: 2px;
    }
  }
  .card-header {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    .title {
      color: #111;
      font-size: 22px;
      font-weight: 600;
      input {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .handoff {
      font-size: 12px;
      color: #999;
      em {
        font-style: normal;
        color: #666;
      }
    }
  }
  .card-body {
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
  }
}

.team-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  .team-list-item a {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 6px 8px;
    background: #fff;
    border-bottom: 1px solid $panel-border-color;
    color: $font-color;
    text-decoration: none;
    .team-name { padding-left: 0.2em; }
    &.active {
      border-right: 4px solid $active-marker-color;
    }
    transition: border 0.1s ease-in-out;
  }
}

.goal-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  li a {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 6px 8px;
    background: #fff;
    border-bottom: 1px solid $panel-border-color;
    color: $font-color;
    text-decoration: none;
    .goal-name { padding-left: 0.2em; }
    &.active {
      border-right: 4px solid $active-marker-color;
    }
    transition: border 0.1s ease-in-out;
  }
}