.shell {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.shell-header {
  position: absolute;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 9999;
  .header-bar {
    position: relative;
    margin-left: $sidebar-width;
    height: 100%;
    border-bottom: $header-bar-border;
    background: $header-bar-background;
    box-shadow: $header-bar-shadow;
  }
}

.organization-corner {
  float: left;
  width: $sidebar-width;
  height: 100%;
  padding: 8px 4px 4px 10px;
  background: $organization-background;
  .organization-name {
    float: left;
    font-size: 14px;
    color: $organization-name-text-color;
    text-shadow: $organization-name-text-shadow;
  }
  .menu-trigger {
    float: right;
    color: $organization-menu-trigger-color;
    padding-top: 4px;
    padding-right: 8px;
    font: 24px/16px normal $icon-font;
  }
  .widgets {
    clear: both;
    .presence {
      font-size: 14px;
      font-weight: 600;
      color: $organization-widget-color;
    }
    .icon {
      width: 18px;
      font-size: 24px;
      text-align: left;
      color: $organization-widget-color;
    }
  }
}

.navigation {
  height: 100%;
  float: left;
  a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 140px;
    height: 100%;
    padding: 10px 0;
    font-size: 15px;
    line-height: 30px;
    color: $navigation-text-color;
    text-shadow: $navigation-text-shadow;
    font-weight: $navigation-font-weight;
    text-decoration: none;
    text-align: center;
    transition-property: background;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
    .icon {
      position: absolute;
      top: 40px;
      left: 0;
      color: transparent;
      width: 140px;
      text-align: center;
      font-size: 140px;
    }
    &.active {
      color: $navigation-active-text-color;
      border-left: $navigation-active-border;
      border-right: $navigation-active-border;
      font-weight: $navigation-active-font-weight;
      text-shadow: $navigation-active-text-shadow;
      background: $navigation-active-background;
      box-shadow: $navigation-active-shadow;
      .icon {
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.user-corner {
  height: 100%;
  float: right;
  .focused-card {
    display: inline-block;
    float: left;
    height: 100%;
    width: 250px;
    padding: 8px 10px;
    font-size: 14px;
    border-left: $focus-border;
    background: $focus-background;
    text-decoration: none;
    transition-property: color, background;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    a, a:visited {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      color: $focus-link-color;
      text-shadow: 1px 1px 2px $focus-link-shadow-color;
      text-decoration: none;
    }
    a:hover {
      color: #333;
      text-decoration: underline;
    }
    a:active {
      color: #666;
      text-decoration: underline;
    }
  }
  .user-profile {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 8px;
    border-left: $user-profile-border;
    background: $user-profile-background;
    .menu-trigger {
      display: inline-block;
      vertical-align: middle;
      color: $user-profile-menu-trigger-color;
      padding-right: 8px;
      font: 24px/16px normal $icon-font;
    }
    .avatar {
      display: inline-block;
      vertical-align: middle;
      border: $user-profile-avatar-border;
      border-radius: 50%;
    }
  }
}

.logo-corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  height: $logo-height;
  z-index: 1000;
  padding: 4px;
  background: $dark url('/dist/logo.png') 4px 4px no-repeat;
  ul.links {
    margin: 0;
    padding: 2px 0 0 54px;
    li {
      list-style-type: none;
      height: 20px;
      a {
        font-size: 13px;
        color: $light;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.screen {
  padding-top: 54px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .content {
    position: relative;
    height: 100%;
    padding: 10px;
    margin-left: $sidebar-width;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height: 20px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      background-clip: content-box;
      border: 5px solid transparent;
      border-radius: 20px;
    }
  }
}