$font: "Source Sans Pro";
$icon-font: "Entypo";

$dat-blue: #0c1044;

/* new variables */

$sidebar-width: 200px;
$stack-panel-width: 291px;
$card-panel-width: 582px;

$panel-border: 1px solid #999;
$panel-background: #f9f9f9;
$panel-header-background: linear-gradient(to bottom, #eee, #ccc);
$panel-header-text-color: #666;
$panel-header-icon-color: #666;

$scrollbar-track-background: #efefef;
$scrollbar-track-border: 1px solid #ccc;
$scrollbar-thumb-background: #aaa;
$scrollbar-thumb-border: 4px solid transparent;

$editable-text-border: 1px dashed transparent;
$editable-text-hover-background: #f9f9f9;
$editable-text-hover-border: 1px dashed #aaa;
$editable-text-active-background: #fff;
$editable-text-active-border: 1px solid #888;
$editable-text-active-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
$editable-text-dirty-border: 1px solid #090;

$header-bar-border: 1px solid #999;
$header-bar-background: linear-gradient(to bottom, #fff, #ddd);
$header-bar-shadow: 0;

$organization-name-text-color: #fff;
$organization-name-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
$organization-background: #555;
$organization-menu-trigger-color: #999;
$organization-widget-color: #999;

$navigation-text-color: #666;
$navigation-text-shadow: none;
$navigation-font-weight: 600;
$navigation-icon-color: #666;
$navigation-border: 1px solid #999;
$navigation-active-text-color: #000;
$navigation-active-text-shadow: none;
$navigation-active-font-weight: 600;
$navigation-active-icon-color: #000;
$navigation-active-background: linear-gradient(to bottom, #ddd, #fff);
$navigation-active-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);

$focus-border: 1px solid #999;
$focus-background: linear-gradient(to bottom, #eee, #ccc);
$focus-link-color: #000;
$focus-link-shadow-color: none;

$user-profile-border: 1px solid #999;
$user-profile-background: linear-gradient(to bottom, #fff, #ddd);
$user-profile-menu-trigger-color: #999;
$user-profile-avatar-border: none;

$search-background: #555;
$search-border: 0;
$search-input-border: 1px solid #888;
$search-input-background: #666;
$search-input-active-text-color: #000;
$search-input-active-background: #fff;

$sidebar-background: #666;
$sidebar-border: 1px solid #555;
$sidebar-shadow: 0;
$sidebar-group-background: #666;
$sidebar-group-border: 0;
$sidebar-group-header-text-color: #eee;
$sidebar-group-header-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
$sidebar-group-header-background: #444;
$sidebar-group-header-border: 0;
$sidebar-item-text-color: #ccc;
$sidebar-item-icon-color: #ccc;
$sidebar-item-border: 0;
$sidebar-item-background: #666;
$sidebar-item-active-text-color: #fff;
$sidebar-item-active-icon-color: #fff;
$sidebar-item-active-background: linear-gradient(to bottom, #888, #777);
$sidebar-item-active-shadow: none;

$active-marker-color: #ccc;
$stack-card-background: #fff;
$stack-card-title-color: #000;
$stack-card-contextual-border: 1px dotted #ccc;
$stack-card-contextual-color: #666;
$stack-card-active-background: linear-gradient(to bottom, #eee, #fff);
$stack-card-active-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);

$card-header-background: linear-gradient(to bottom, #eee, #ccc);
$card-header-border: 1px solid #999;

$card-action-bar-background: 0;
$card-action-bar-border: 0;
$card-action-button-text-color: #333;
$card-action-button-border: 1px solid #999;
$card-action-button-background: linear-gradient(to bottom, #eee, #ddd);
$card-action-button-hover-text-color: #000;
$card-action-button-hover-background: linear-gradient(to bottom, #fff, #ddd);
$card-action-button-active-text-color: #000;
$card-action-button-active-background: #eee;
$card-action-button-active-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
