.search {
  padding: 0 10px 10px;
  background: $search-background;
  border-bottom: $search-border;
  input {
    width: 100%;
    font-size: 13px;
    padding: 4px 8px;
    background: $search-input-background;
    border: $search-input-border;
    border-radius: 4px;
    transition-property: border, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:focus {
      color: $search-input-active-text-color;
      background: $search-input-active-background;
      outline: none !important;
    }
  }
}

.stack {
  width: $stack-panel-width;
  .card-list {
    margin: 0;
    padding: 0;
  }
}

.stack-card {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border-bottom: $panel-border;
  background: $stack-card-background;
  padding: 8px;
  transition: box-shadow 0.1s ease-in-out;
  &.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  &.active {
    background: $stack-card-active-background;
    box-shadow: $stack-card-active-shadow;
  }
  .card-top {
    .title {
      color: $stack-card-title-color;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .handoff {
      font-size: 12px;
      color: #999;
      em {
        font-style: normal;
        color: #666;
      }
    }
    padding: 2px 6px;
    border-left: 6px solid #999;
  }
  .card-bottom {
    overflow: hidden;
    padding-top: 6px;
    margin-top: 6px;
    border-top: $stack-card-contextual-border;
    color: $stack-card-contextual-color;
    font-size: 13px;
    line-height: 17px;
    height: 57px;
  }
}

.card {
  width: $card-panel-width;
  background: #fff;
  .action-bar {
    width: 100%;
    padding: 10px 10px 0;
    button {
      display: inline-block;
      margin-right: 10px;
      font-size: 13px;
      font-weight: 600;
      padding: 6px 10px;
      color: $card-actions-button-text-color;
      background: $card-actions-button-background;
      box-shadow: $card-actions-button-shadow;
      border: $card-actions-button-border;
      border-radius: 2px;
    }
  }
  .card-header {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: $card-header-border;
    .title {
      color: #111;
      font-size: 22px;
      font-weight: 600;
      input {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .handoff {
      font-size: 12px;
      color: #999;
      em {
        font-style: normal;
        color: #666;
      }
    }
  }
  .card-body {
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
  }
}

