.search {
  padding: 0 10px 10px;
  background: $search-background;
  border-bottom: $search-border;
  input {
    width: 100%;
    font-size: 13px;
    padding: 4px 8px;
    background: $search-input-background;
    border: $search-input-border;
    border-radius: 4px;
    transition-property: border, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:focus {
      color: $search-input-active-text-color;
      background: $search-input-active-background;
      outline: none !important;
    }
  }
}

.stack {
  width: $stack-panel-width;
  .card-list {
    margin: 0;
    padding: 0;
  }
}

.stack-card {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border-bottom: $panel-border;
  background: $stack-card-background;
  padding: 8px;
  &.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  &.active {
    background: $stack-card-active-background;
    box-shadow: $stack-card-active-shadow;
  }
  .card-top {
    .title {
      color: $stack-card-title-color;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .handoff {
      font-size: 12px;
      color: #999;
      em {
        font-style: normal;
        color: #666;
      }
    }
    padding: 2px 6px;
    border-left: 6px solid #999;
  }
  .card-bottom {
    overflow: hidden;
    padding-top: 6px;
    margin-top: 6px;
    border-top: $stack-card-contextual-border;
    color: $stack-card-contextual-color;
    font-size: 13px;
    line-height: 17px;
    height: 57px;
  }
}

.card {
  @include panel-flow;
  position: relative;
  border-right: $panel-border;
  background: $panel-background;
  width: $card-panel-width;
  background: #fff;
  .close {
    display: block;
    position: absolute;
    right: 6px;
    top: 8px;
    color: #666;
    transition: color 0.15s;
    &:hover {
      color: #000;
    }
  }
  .header {
    padding: 6px;
    background: $card-header-background;
    border-top: 6px solid;
    border-bottom: $card-header-border;
    .title {
      color: #111;
      font-size: 22px;
      font-weight: 600;
      margin-right: 24px;
      input {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    } 
    .actions {
      padding: 4px;
      width: 100%;
      background: $card-action-bar-background;
      border-bottom: $card-action-bar-border;
      .group {
        display: inline-block;
        &.right { float: right; }
      }
      button {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 10px;
        color: $card-action-button-text-color;
        border: $card-action-button-border;
        border-right: 0;
        background: $card-action-button-background;
        outline: none !important;
        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &:last-child {
          border-right: $card-action-button-border;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        &:hover {
          color: $card-action-button-hover-text-color;
          background: $card-action-button-hover-background;
        }
        &:active {
          color: $card-action-button-active-text-color;
          background: $card-action-button-active-background;
          box-shadow: $card-action-button-active-shadow;
        }
      }
    }
  }
  .subheader {
    background: #eee;
    border-bottom: 1px solid #ccc;
    .aspect {
      font-size: 14px;
      .name {
        display: inline-block;
        padding: 6px 10px;
        width: 100px;
        text-align: right;
        color: #666;
      }
      .value {
        display: inline-block;
        padding: 6px 0;
        a, a:visited {
          cursor: hand;
          color: #333;
          font-weight: 600;
          text-decoration: none;
          .icon { margin: 0 -1px 0 -4px; }
        }
        a:hover {
          color: #000;
          text-decoration: underline;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            margin-right: 8px;
            font-weight: 600;
          }
          .avatar {
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 2px;
          }
        }
      }
    }
  }
  .details {
    overflow-x: hidden;
    overflow-y: auto;
    .participants {
      background: #efefef;
      border: 1px solid #ccc;
      margin: 10px;
      .owner {
        display: inline-block;
        background: #ddd;
        padding: 4px 6px;
        border-right: 1px solid #ccc;
        .title {
          padding: 0 8px 0 4px;
          display: inline-block;
          font-size: 14px;
          color: #999;
        }
      }
      .participating {
        display: inline-block;
        padding: 4px 6px;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
          }
        }
      }
      .avatar {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
      }
    }
    .body {
      font-size: 18px;
      font-weight: 400;
      margin: 10px;
    }
  }
}

