.queue-card-action
  display: flex
  flex-direction: row
  margin-top: 4px
  
  .status
    flex: none
    border: 1px solid #999
    border-radius: 50%
    width: 22px
    height: 22px
    line-height: 20px
    background: $bright-white
    text-align: center
    margin-right: 4px
    .icon
      vertical-align: middle
      font-size: 24px
      width: 20px
      
  .owner
    flex: none
    width: 24px
    line-height: 22px
    margin-right: 4px
    color: #999
    text-align: center
    .icon
      width: auto
      margin-top: 0
    .avatar
      vertical-align: middle
      height: 16px
      width: 16px
      border-radius: 2px  
        
  .text
    flex: 1
    font-size: 16px

  .stage
    flex: none
    color: #999
    font-size: 12px
    line-height: 24px
    font-weight: $bold-font-weight
    text-transform: uppercase
    
  &.warning
    .status { color: #900 }
    .text { color: #900 }
      
  &.inprogress
    .status { color: #090 }
