.queue-card
  background: $bright-white
  border-left: 4px solid transparent
  padding: 10px
    
  .title
    color: $text-color
    font-size: 18px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap