.block
  border-bottom: 1px solid $color-steel-medium
  &:last-child { border-bottom: none }

  & > .header
    font-size: 12px
    padding: 4px 10px
    font-weight: $heavy-font-weight
    text-transform: uppercase
    color: $color-ink-light
    background: $color-steel-light
    border-bottom: 1px solid $color-steel-medium

  &.collapsible
    & > .header { cursor: pointer }
    &.collapsed { border-bottom: none }
