button, a.button
  position: relative
  display: inline-block
  vertical-align: top
  height: 32px
  font-size: 14px
  padding: 6px 10px
  color: $soft-text-color
  border: 1px solid $steel-border-color
  border-radius: $button-border-radius
  margin-right: 4px
  background: linear-gradient(to bottom, $button-highlight-color, $button-lowlight-color)
  outline: none !important
  box-shadow: 0 1px 0 shadow(10%)
  text-decoration: none
  font-weight: $bold-font-weight
  i
    line-height: 16px
    margin-right: 6px
  
  &.default
    color: $dark-black
  
  &.small
    height: 24px
    font-size: 12px
    padding: 2px 4px
    i
      font-size: 12px
      width: 18px
      margin-right: 0
  
  &.icon-only
    padding: 6px
    i
      font-size: 24px
      line-height: 18px
      margin-right: 0
  
  &.warning
    border-color: $warning-border-color
    background: linear-gradient(to bottom, $warning-highlight-color, $warning-lowlight-color)
    &:active, &.active { background: $warning-lowlight-color }
  
  &:active, &.active
    color: $dark-black
    background: $button-lowlight-color
    box-shadow: inset 0px 0px $shadow-blur $shadow-color
    
  &:hover
    color: $dark-black
    
  &:disabled
    color: $disabled-text-color;
    background: $button-lowlight-color
    box-shadow: none
  
  &:last-child
    margin-right: 0

.button-group
  display: inline-block
  vertical-align: middle
  &.right { float: right }

  button
    border-right: 0
    margin-right: 0
    border-radius: 0
    &:first-child
      border-top-left-radius: $button-border-radius
      border-bottom-left-radius: $button-border-radius
    &:last-child
      border-right: 1px solid $steel-border-color
      border-top-right-radius: $button-border-radius
      border-bottom-right-radius: $button-border-radius

.menu-button
  display: inline-block
  vertical-align: top
  
  button, a.button
    padding-right: 22px
