@import '../theme.styl'

.overlay.menu
  min-width: 120px
  padding: 0
  color: $color-ink
  
  i
    margin-right: 6px
    
  .separator
    height: 1px
    background: $color-divider
    
  .menu-item a
    display: block
    font-size: 14px
    font-weight: $bold-font-weight
    padding: 6px 10px 6px 8px
    white-space: nowrap
    
    &:hover
      background: $color-selection
