.overlay.menu
  min-width: 120px
  padding: 0
  color: $soft-text-color
  
  i
    margin-right: 6px
    
  .separator
    height: 1px
    background: $overlay-separator-color
    
  .menu-item a
    display: block
    font-size: 14px
    font-weight: $bold-font-weight
    padding: 6px 10px 6px 8px
    white-space: nowrap
    
    &:hover
      color: $text-color
      background: $button-lowlight-color
