a.trigger
  cursor: pointer

.dialog-backdrop
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: $floating-layer
  background: shadow(70%)
  &.fade-enter { animation: dialog-enter 150ms ease-out }
  &.fade-leave { animation: dialog-leave 150ms linear }

.dialog
  position: relative
  top: 50%
  margin: 0px auto
  background: $dialog-background-color
  border: 1px solid $dialog-border-color
  box-shadow: 0px 1px 3px shadow(30%)
  border-radius: 4px

.dialog-header
  padding: 6px 10px
  background: $dialog-header-background-color
  font-weight: $bold-font-weight
  border-bottom: 1px solid $dialog-border-color
  i { margin-right: 6px }

.dialog-content
  padding: 10px

.dialog-buttons
  display: flex
  justify-content: flex-end
  padding-top: 10px

@keyframes dialog-enter
  from
    opacity: 0
  to
    opacity: 1

@keyframes dialog-leave
  from
    opacity: 1
  to
    opacity: 0
