.caret
  position: absolute
  right: 8px
  &:after
    font-family: $icon-font
    font-size: 24px
    line-height: 18px
    content: "\25BE"
    &.flip
      content: "\25B4"

.overlay.menu
  width: 100%
  padding: 0

  li
    list-style-type: none
    font-size: 14px
    font-weight: $bold-font-weight
    cursor: pointer
    padding: 6px 10px 6px 10px
    &:hover
      background: $button-lowlight-color
