.editable
  font-family: $content-font
  font-weight: $normal-font-weight
  -webkit-font-smoothing: subpixel-antialiased
  border: 1px dashed transparent
  background: transparent
  transition-property: border, background, box-shadow
  transition-duration: 0.1s
  transition-timing-function: ease-in-out
  outline: none !important
  &:hover
    border: 1px dashed black(40%)
  &:focus
    cursor: text;
    background: $color-white
    border: 1px solid black(60%)
    box-shadow: 0px 0px 5px black(50%)

textarea.editable
  overflow: hidden;
  width: 100%;
  padding: 4px;
  resize: none;

input.editable
  padding: 2px
  width: 100%
