.field
  margin-bottom: 10px
  font-size: 16px
  &:last-child { margin-bottom: 0 }
  
  .field-label
    display: block
    margin-bottom: 8px
    font-weight: 500
    
  .field-note
    float: right
    text-align: right
    color: $color-ink-light
    font-size: 14px
    font-style: italic
    font-weight: $bold-font-weight

  .hint
    margin-top: 8px
    font-size: 14px
