.field
  
  .field-label
    display: block
    margin-bottom: 4px
    font-size: 14px
    font-weight: 500
    
  .field-note
    float: right
    text-align: right
    color: $color-ink-light
    font-size: 14px
    font-style: italic
    font-weight: $bold-font-weight
  
  .field-input
    margin-bottom: 8px
