.icon
  display: inline-block
  vertical-align: middle
  font: 34px/16px normal $icon-font
  width: 24px
  text-align: center
  margin-top: -2px

.icon-accept:before            { content: "\1F44D"; }
.icon-close:before             { content: "\274C";  }
.icon-stack-queue:before       { content: "\1F4C4"; }
.icon-stack-inbox:before       { content: "\1F4E5"; }
.icon-stack-drafts:before      { content: "\270E";  }
.icon-stack-backlog:before     { content: "\E736";  }
.icon-accept:before            { content: "\1F44D"; }
.icon-defer:before             { content: "\1F554"; }
.icon-pass:before              { content: "\27A6";  }
.icon-complete:before          { content: "\2713";  }
.icon-card:before              { content: "\E730";  }
.icon-user:before              { content: "\1F464"; }
.icon-users:before             { content: "\1F465"; }
.icon-workspace:before         { content: "\2692";  }
.icon-bigpicture:before        { content: "\1F30E"; }
.icon-strategy:before          { content: "\1F56A"; }
.icon-focus:before             { content: "\1F3AF"; }
.icon-archive:before           { content: "\E800";  }
.icon-trash:before             { content: "\E729";  }
.icon-team:before              { content: "\1F465"; }
.icon-focus:before             { content: "\1F3AF"; }
.icon-goal:before              { content: "\1F3C6"; }
.icon-add:before               { content: "\2295";  }
.icon-move:before              { content: "\2630";  }
.icon-assign:before            { content: "\E700";  }
.icon-action:before            { content: "\26A1";  }
.icon-action-notstarted:before { content: "\25A0";  }
.icon-action-inprogress:before { content: "\25B6";  }
.icon-action-warning:before    { content: "\1F6AB"; }
.icon-action-complete:before   { content: "\2713";  }
.icon-add-comment:before       { content: "\1F4E3"; }
.icon-add-file:before          { content: "\1F4CE"; }
.icon-ok:before                { content: "\2713";  }
.icon-cancel:before            { content: "\274C";  }
.icon-create-card:before       { content: "\2795";  }
.icon-restore:before           { content: "\E75B";  }
.icon-handle:before            { content: "\2630";  }
.icon-expand:before            { content: "\25BE";  }
.icon-collapse:before          { content: "\25B4";  }
.icon-settings:before          { content: "\2699";  }
.icon-logout:before            { content: "\E741";  }
.icon-search:before            { content: "\1F50D"; }
.icon-help:before              { content: "\2753";  }
.icon-follow:before            { content: "\2605";  }
.icon-follow-empty:before      { content: "\2606";  }
.icon-chevron-left:before      { content: "\E75D";  }
.icon-chevron-right:before     { content: "\E75E";  }
.icon-edit:before              { content: "\270E";  }