.input
  position: relative
  
  input
    width: 100%
    padding: 4px
    background: $color-white
    border: 1px solid $color-steel
    outline: none !important
    &:focus { border: 1px solid $color-steel-dark }
  
  &.has-left-icon
    input { padding-left: 26px }
    .input-placeholder { left: 28px }
  
  &.has-right-icon
    input { padding-right: 26px }
  
  i
    position: absolute
    color: $color-ink-light
    margin-right: 0
    top: 4px
    &.left-icon { left: 6px }
    &.right-icon { right: 6px }
        
  .input-placeholder
    position: absolute
    top: 5px
    left: 8px
    font-size: 14px
    font-style: italic
    font-weight: $bold-font-weight
    color: $color-ink-subtle
