.navigation
  padding: 0
  margin: 0 auto
  width: 420px
  
  li
    display: inline-block
    list-style-type: none
    margin: 0
    padding: 0 10px
    height: $shell-header-height
    
    a
      display: block
      width: 120px
      height: 100%
      text-align: center
      text-decoration: none
      color: $nav-link-color
      font-size: 16px
      padding-top: 10px
      transition: color $hover-animation-delay linear
      
      &:hover
        color: $nav-link-hover-color

      &.active
        color: $nav-link-active-color
        font-weight: $bold-font-weight
        border-bottom: 1px solid $nav-highlight-color
        
      .icon
        padding-right: 20px
      