.navigation
  background: shadow(60%)
  
  a
    display: block
    padding: 8px 10px
    font-size: 13px
    font-weight: 600
    color: #999
    text-decoration: none
    text-transform: uppercase
    transition: color $hover-animation-delay ease-in-out
    &.trigger { cursor: pointer }
    &:visited { color: #999 }
    &:hover, &:active {
      color: $white
      .icon { color: $white }
    }

    .icon
      float: right
      color: #999
      padding-top: 4px
      transition: color $hover-animation-delay ease-in-out
      display: none
