.navigation
  background: shadow(60%)
  
  .trigger
    display: block
    cursor: pointer
    padding: 8px 10px
    font-size: 13px
    font-weight: $bold-font-weight
    color: #999
    text-transform: uppercase
    transition: color $hover-animation-delay ease-in-out
    &:visited { color: #999 }
    &:hover, &:active { color: $white }
  
  ul
    padding: 0
    margin: 0
    list-style-type: none
    
    li a
      position: relative
      display: block
      padding: 8px 10px
      color: #999
      text-decoration: none
      transition: color $hover-animation-delay ease-in-out
      &:visited { color: #999 }
      &:hover, &:active
        color: $white
        .icon { color: $white }
      
      .title
        color: $white
        font-size: 13px
        font-weight: $bold-font-weight
        text-transform: uppercase
      
      .description
        font-size: 14px
        color: #aaa

      .icon
        float: right
        color: #999
        padding-top: 4px
        transition: color $hover-animation-delay ease-in-out
        display: none

@keyframes drop-enter
  from { opacity: 0; height: auto; margin-top: -200px }
  to   { opacity: 1; height: auto; margin-top: 0px }

.drop.slide-enter
  animation: drop-enter 200ms ease-out
  //&:nth-child(0) { animation-delay: 0ms }
  //&:nth-child(1) { animation-delay: 100ms }
  //&:nth-child(2) { animation-delay: 200ms }

@keyframes drop-leave
  from { opacity: 1; margin-top: 0px }
  to   { opacity: 0; margin-top: -200px }

.drop.slide-leave
  animation: drop-leave 200ms linear
