.navigation
  padding: 0
  margin: 0
  
  li
    display: inline-block
    list-style-type: none
    width: 140px
    height: $shell-header-height
    text-align: center
    line-height: 20px
    color: $color-ink-light
        
    &.active
      color: $color-ink
      border-left: 1px solid $color-charcoal-light
      border-right: 1px solid $color-charcoal-light
      height: 43px
      padding-bottom: 2px
      border-bottom-right-radius: 3px
      border-bottom-left-radius: 3px
      box-shadow: 0px 1px 1px black(30%)
      background: $color-charcoal-light
      a { background: $color-charcoal-verylight }
    
    a
      display: block
      height: 100%
      text-decoration: none
      font-size: 16px
      font-weight: $bold-font-weight
      padding-top: 10px
      transition: color $hover-animation-delay linear

      & > i
        font-size: 22px
        margin-right: 6px
      
      &:hover
        color: $color-ink
