.overlay
  position: absolute
  z-index: $floating-layer
  margin: 2px 0 0 0
  padding: 6px
  font-size: 14px
  border: 1px solid $overlay-border-color
  background: $overlay-background-color
  box-shadow: 0px 1px 3px shadow(30%)
  outline: none !important

  &.right
    right: 0

  .arrow, .arrow:after
    position: absolute
    width: 0
    height: 0
    border: $arrow-width solid transparent
  
  .arrow:after
    content: " "

  &.left.with-arrow
    margin-top: ($arrow-width + 2)
    .arrow
      top: -($arrow-width)
      left: $arrow-width
      border-top-width: 0
      border-bottom-color: $overlay-border-color
      &:after
        top: 1px
        margin-left: -($arrow-width)
        border-top-width: 0
        border-bottom-color: $overlay-background-color
        
  &.right.with-arrow
    margin-top: ($arrow-width + 2)
    .arrow
      top: -($arrow-width)
      right: $arrow-width
      border-top-width: 0
      border-bottom-color: $overlay-border-color
      &:after
        top: 1px
        margin-left: -($arrow-width)
        border-top-width: 0
        border-bottom-color: $overlay-background-color
 
@keyframes overlay-enter
  from { opacity: 0; transform: translateY(-5px) }
  to   { opacity: 1; transform: translateY(0) }

.overlay.slide-enter
  animation: overlay-enter 100ms ease-out

@keyframes overlay-leave
  from { opacity: 1; transform: translateY(0) }
  to   { opacity: 0; transform: translateY(-5px) }

.overlay.slide-leave
  animation: overlay-leave 100ms linear
