@import '../theme.styl'

.trigger
  cursor: pointer

.overlay
  position: absolute
  cursor: auto
  z-index: $floating-layer
  padding: 6px
  font-size: 14px
  color: $color-ink
  background: $color-white
  border: 1px solid $color-steel-dark
  box-shadow: 0px 1px 3px black(30%)
  outline: none !important
  
  &.bottom
    margin-top: 2px
    &.slide-enter { animation: overlay-enter-down 100ms ease-out }
    &.slide-leave { animation: overlay-leave-up   100ms linear   }

  &.top
    bottom: 100%
    margin-bottom: 2px
    &.slide-enter { animation: overlay-enter-up   100ms ease-out }
    &.slide-leave { animation: overlay-leave-down 100ms linear   }

  &.right
    right: 0

  .arrow, .arrow:after
    position: absolute
    width: 0
    height: 0
    border: $overlay-arrow-width solid transparent
  
  .arrow:after
    content: " "

  &.left.with-arrow
    margin-top: ($overlay-arrow-width + 2)
    .arrow
      top: -($overlay-arrow-width)
      left: $overlay-arrow-width
      border-top-width: 0
      border-bottom-color: $color-steel-dark
      &:after
        top: 1px
        margin-left: -($overlay-arrow-width)
        border-top-width: 0
        border-bottom-color: $color-white
        
  &.right.with-arrow
    margin-top: ($overlay-arrow-width + 2)
    .arrow
      top: -($overlay-arrow-width)
      right: $overlay-arrow-width
      border-top-width: 0
      border-bottom-color: $color-steel-dark
      &:after
        top: 1px
        margin-left: -($overlay-arrow-width)
        border-top-width: 0
        border-bottom-color: $color-white
 
@keyframes overlay-enter-down
  from { opacity: 0; transform: translateY(-5px) }
  to   { opacity: 1; transform: translateY(0) }

@keyframes overlay-leave-up
  from { opacity: 1; transform: translateY(0) }
  to   { opacity: 0; transform: translateY(-5px) }

@keyframes overlay-enter-up
  from { opacity: 0; transform: translateY(5px) }
  to   { opacity: 1; transform: translateY(0) }

@keyframes overlay-leave-down
  from { opacity: 1; transform: translateY(0) }
  to   { opacity: 0; transform: translateY(5px) }
