.panel
  position: relative
  flex: none
  height: 100%
  display: flex
  flex-direction: column
  vertical-align: top
  box-shadow: 0px 1px 3px black(30%)
  margin-right: $panel-margin
  background: $color-paper
  border: 1px solid $color-steel-dark
