@import '../theme.styl'

.prompt
  font-size: 16px
  font-weight: $bold-font-weight
    
  .hint
    margin-top: 8px
    font-size: 15px
    font-style: italic
    font-weight: $bold-font-weight
    color: $color-ink-light
    line-height: 20px
