.screen
  display: flex
  overflow: hidden
  height: 100%
  padding-top: $shell-header-height
  padding-bottom: $shell-footer-height

.screen > .content
  position: relative
  z-index: 10001
  flex: 1
  display: flex
  height: 100%
  padding: $content-margin
  overflow-x: auto
  overflow-y: hidden
  
  &::-webkit-scrollbar
    height: 20px
    
  &::-webkit-scrollbar-track
    background: transparent
    
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.3)
    background-clip: content-box
    border: 5px solid transparent
    border-radius: 20px

  .drag-placeholder
    background: $steel-lowlight-color

@keyframes screen-enter
  from
    opacity: 0
    transform: translateX(-20px)
  to
    opacity: 1
    transform: translateX(0)

.screen.navigate-enter
  animation: screen-enter 250ms ease-out

@keyframes screen-leave
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(20px)

.screen.navigate-leave
  animation: screen-leave 250ms ease-in
