.screen
  overflow: hidden
  margin: 0
  padding: $shell-header-height 10px 10px 10px
  display: flex
  height: 100%

.screen > .content
  position: relative
  z-index: 10001
  flex: 1
  display: flex
  height: 100%
  padding: $content-margin
  overflow-x: auto
  overflow-y: hidden
  background: $bright-white url('/img/bg.png')
  border-radius: 6px
  &::-webkit-scrollbar
    height: 20px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.3)
    background-clip: content-box
    border: 5px solid transparent
    border-radius: 20px
  .drag-placeholder
    background: $steel-lowlight-color
