.selector
  position: relative
  user-select: none
  outline: none !important
          
  &.expanded
    a
      background: $button-lowlight-color
      border-radius: 4px 4px 0 0
      border-bottom: 1px solid #999

  a
    position: relative
    z-index: $trigger-layer
    display: block
    padding: 4px 8px
    background: linear-gradient(to bottom, #fff, #eee 50%, #ddd)
    border: 1px solid #999
    border-radius: 4px
    line-height: 20px
    text-decoration: none
    cursor: pointer
    overflow: hidden
    
    .value
      color: #000
      font-size: 13px
      margin-right: 28px
      text-overflow: ellipsis
      &.placeholder { color: #666 }
      .avatar
        float: left
        height: 18px
        width: 18px
        border-radius: 50%
        margin-right: 4px
      
  .drop
    position: absolute
    z-index: $floating-layer
    width: 100%
    border: 1px solid $overlay-border-color
    border-top: 0px
    border-radius: 0 0 4px 4px
    padding: 4px
    background: $overlay-background-color
    
    .suggest
      position: relative
      border: 1px solid #ccc
      input
        padding: 4px 28px 4px 4px
        width: 100%
        border: none !important
        outline: none !important
      .icon
        position: absolute
        top: 0
        right: 0
        font-size: 28px
        line-height: 28px
        color: #999
        
    ul
      padding: 0
      margin: 0
      
      li
        list-style-type: none
        cursor: pointer
        font-size: 13px
        padding: 4px
        background: #fff
        
        &:hover
          background: #eee
          
        &:last-child
          border-radius: 0 0 4px 4px
          
        .icon
          display: inline-block
          vertical-align: middle
          margin-right: 4px
          
        .avatar
          display: inline-block
          vertical-align: middle
          margin-right: 4px
          height: 18px
          width: 18px
          border-radius: 50%
          
        span
          display: inline-block
          vertical-align: middle
          line-height: 18px
