@font-face
  font-family: 'Entypo'
  src: url('/fonts/entypo.woff')

html
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

ul
  margin: 0
  padding: 0
  li { list-style-type: none }

body
  font-family: $shell-font
  font-weight: $normal-font-weight
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $bright-white url('/img/bg.png')
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  user-select: none
  
.shell
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

.shell-main
  margin: 0
  padding: 0
  height: 100%
  background: transparent url('/img/watermark.png') no-repeat center

.shell-header
  position: absolute
  z-index: $shell-layer
  top: 0
  left: 0
  height: $shell-header-height
  width: 100%
  background: linear-gradient(to bottom, $shell-highlight-color, $shell-lowlight-color)
  border-bottom: 1px solid $shell-border-color
  
  .top-left
    position: absolute
    top: 4px
    left: 10px
 
  .top-right
    position: absolute
    top: 4px
    right: 10px
    a
      display: inline-block
      vertical-align: top
      line-height: 37px
      margin-right: 4px
      color: $subtle-text-color
      text-decoration: none
      transition: all $hover-animation-delay linear
      &:hover, &:active
        color: $text-color
    .avatar
      display: inline-block
      vertical-align: top
      width: 32px
      height: 32px
      padding: 2px
      background: $white
      border: 1px solid $steel-border-color
      border-radius: 50%
  
.shell-footer
  position: absolute
  z-index: $shell-layer
  bottom: 0
  left: 0
  height: $shell-footer-height
  width: 100%
  background: linear-gradient(to bottom, $shell-highlight-color, $shell-lowlight-color)
  border-top: 1px solid $panel-border-color
  
  .bottom-left
    position: absolute
    bottom: 4px
    left: 10px
  
  .bottom-right
    position: absolute
    bottom: 6px
    right: 10px
    .brand
      font: 14px $brand-font
      color: $subtle-text-color
      font-weight: 600
      text-transform: uppercase
      text-align: right
      .version
        font-size: 9px
        color: $disabled-text-color
