html
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

@font-face
  font-family: 'Entypo'
  src: url('/fonts/entypo.woff')

body
  font-family: $shell-font
  font-weight: $normal-font-weight
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  background: $steel-blue
  overflow: hidden
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  
.shell
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

.shell-header
  position: absolute
  top: 0
  left: 0
  height: $shell-header-height
  width: 100%
  
  .sidebar-toggle
    position: absolute
    top: 0
    left: 0