.sidebar-container
  height: 100%

.sidebar
  flex: none
  height: 100%
  width: $sidebar-width
  margin: 0
  padding: 6px
  overflow-y: auto
  background: $sidebar-background-color
  transform: translateZ(0)

  .tab-block
    
    & > .header
      font-size: 13px
      display: flex
      flex-direction: row
      .tab
        flex: 1
        text-align: center

  .group
    
    .header
      font-size: 13px
      padding: 8px 6px
      font-weight: $bold-font-weight
      text-transform: uppercase
      color: $sidebar-header-text-color

    ul
      margin: 0px
      padding: 0px
      list-style-type: none
      
      li a
        display: block
        font-size: 14px
        line-height: 20px
        padding: 4px
        margin-bottom: 6px
        color: $sidebar-text-color
        border-radius: 4px
        text-decoration: none
        transition-property: color, background
        transition-duration: $hover-animation-delay
        
        &:hover, &:active
          color: $sidebar-active-text-color
          .icon { color: $sidebar-active-text-color }
          .count { color: $sidebar-active-text-color }
        
        &.active
          color: $sidebar-active-text-color
          background: $sidebar-active-background-color
          .icon { color: $sidebar-active-text-color }
          .count { color: $sidebar-active-text-color }

        .icon
          margin-right: 4px

        .count
          min-width: 30px
          margin-top: 2px
          margin-left: 10px
          float: right
          padding: 3px 7px
          background: #111
          color: $sidebar-text-color
          font-size: 12px
          font-weight: $heavy-font-weight
          text-shadow: none
          text-align: center
          line-height: 1em
          border-radius: 8px

@keyframes sidebar-enter
  0%
    margin-left: -($sidebar-width)
  100%
    margin-left: 0

.sidebar.slide-enter
  animation: sidebar-enter 200ms ease-out

@keyframes sidebar-leave
  from
    margin-left: 0
  to
    margin-left: -($sidebar-width)

.sidebar.slide-leave
  animation: sidebar-leave 200ms ease-in
