.user-selector
  position: relative
  
  .selector-prompt
    input
      border-radius: 6px

  .selector-options
    position: absolute
    z-index: $floating-layer
    width: 100%
    border: 1px solid $color-steel
    background: $color-white
    margin-top: -1px
    
    .selector-option
      cursor: pointer
      padding: 2px 4px
      &.highlighted { background: $color-selection }
      
      .avatar
        display: inline-block
        vertical-align: middle
        height: 24px
        width: 24px
        border-radius: 4px
        margin-right: 6px
      
      .text
        display: inline-block
        vertical-align: middle
        font-size: 14px
