.wizard
  
  .dialog-buttons
    display: flex
    justify-content: flex-start
    .right-buttons
      display: flex
      flex: 1
      justify-content: flex-end
  
  .breadcrumbs
    display: flex
    overflow: hidden
    border-bottom: 1px solid $color-steel-medium
  
    .breadcrumb
      position: relative
      cursor: pointer
      flex: 1
      padding: 6px 32px 6px 26px
      background: $color-steel-light
      
      &:first-child
        padding-left: 16px
        
      &:last-child
        &:after { display: none }
        
      &.active
        background: $color-steel
        font-weight: $bold-font-weight
        &:after { background: $color-steel }
          
      &:after
        content: ""
        position: absolute
        top: -1px
        right: -8px
        width: 32px
        height: 32px
        transform: rotate(45deg)
        z-index: 1
        background: $color-steel-light

    .breadcrumb-number
      font-size: 12px
      margin-right: 6px
      font-weight: $heavy-font-weight
      &:after { content: "." }