@import '~Theme.styl'

.card-followers
  
  li
    margin-bottom: 4px
    &:last-child { margin-bottom: 0 }
    
    .avatar
      display: inline-block
      vertical-align: middle
      height: 24px
      width: 24px
      margin-right: 6px
      border-radius: 3px

    .name
      display: inline-block
      vertical-align: middle
