.card-goals-overlay
  padding: 0px
  min-width: 240px
  background: $color-paper
  
  & > .content
    padding: 8px
    border-bottom: 1px solid $color-steel
    
    .goal
      font-size: 14px

      .input
        input[type=checkbox]
          height: 24px
          width: 24px
          vertical-align: middle
          margin-right: 0
        .input-text
          vertical-align: middle

  .buttons
    display: flex
    padding: 6px 8px
    background: $color-steel-light
    border-top: 1px solid $color-steel-verylight
