.stack > .footer
  flex: none
  position: relative
  z-index: $panel-layer
  padding: 8px 10px
  background: linear-gradient(to bottom, $steel-highlight-color, $steel-lowlight-color)
  border-top: 1px solid $steel-light-border-color
