.stack-card
  position: relative;
  background: #fff
  border: 1px solid #bbb
  transition: border $activate-animation-delay linear
  cursor: pointer
  background: linear-gradient(to bottom, #fff, #eee)
  
  &:last-child { margin-bottom: 0 }
  &.active { border: 1px solid #888 }
  
  &.ui-sortable-helper
    list-style-type: none
    cursor: move
    border: 1px solid #aaa
    box-shadow: 0 0 5px $shadow-color
  
  .summary
    padding: 8px
    border-left: 6px solid transparent
    
    .title
      color: $text-color
      font-size: 16px
      font-weight: $bold-font-weight
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .subtitle
      color: $subtle-text-color
      font-size: 12px
      line-height: 14px
    
    .avatar
      float: right
      width: 36px
      height: 36px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
      margin-top: -2px
        