.change-kind-workflow-stage-list
  height: 500px
  margin-top: 8px
  border: 1px solid $color-steel
  background: $color-steel-verylight
  overflow-y: auto

  & > .drag-placeholder
    margin: 8px
    background: $color-selection
    border: 1px dashed $color-steel