.create-user.interstitial
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
  .create-user-form
    padding: 10px 20px
    background: $color-paper
    border: 1px solid $color-steel-medium
    border-radius: 4px
    box-shadow: 0 0 3px black(30%)

    .field-input
      width: 300px
      input
        font-size: 16px
        padding: 4px
    
    .buttons
      display: flex
      justify-content: flex-end
