.action-owner-overlay
  width: 200px
  padding: 4px
  background: $color-paper
  margin-top: 3px !important
  
  .input
    font-size: 16px
    line-height: 16px
    color: $color-ink
  
  .user-list
    display: flex
    flex-direction: column
    background: $color-white
    border: 1px solid $color-steel
    margin-top: 4px
