.goal-pacing-bar
  display: flex
  flex-direction: row
  margin-top: 2px
  
  .completion
    flex: none
    color: $color-ink-light
    font-size: 14px
    font-weight: $bold-font-weight
    width: 100px
    margin-left: 8px
    em
      font-style: normal
  
  .progress-bar-segment
    background-color: blue(300)
