.goal-progress-bar
  display: flex
  flex-direction: row
  
  .completion
    flex: none
    color: $color-ink-light
    font-size: 14px
    font-weight: $bold-font-weight
    width: 100px
    margin-left: 8px
    em
      font-style: normal
  
  .progress-bar-segment
    &.complete   { background-color: $color-progress-complete }
    &.inprogress { background-color: $color-progress-inprogress }
    &.warning    { background-color: $color-progress-warning }
    &.idle       { background-color: $color-progress-idle }
