.following-card
  position: relative;
  background: $white
  cursor: pointer
  background: $steel-highlight-color
  border-bottom: 1px solid #bbb
  
  &:last-child { border-bottom: none }
  
  a
    display: block
    height: 80px
    padding: 6px
    color: $black
    border-left: 4px solid transparent
    text-decoration: none
    background: $white
    transition: background $activate-animation-delay linear
    &.active { background: $bright-white }

    .owner
      float: left
      width: 36px
      height: 36px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
      margin-top: -2px
    
    .summary
      padding-left: 42px
            
      .title
        color: $text-color
        font-size: 16px
        font-weight: $bold-font-weight
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

      .location
        color: $subtle-text-color
        font-size: 12px
        line-height: 18px
        .icon
          font-size: 24px
          width: auto
          padding-right: 4px
      
      .progress
        display: inline-block
        font-size: 12px
        font-weight: $heavy-font-weight
        background: #ddd
        padding: 2px 6px
        margin-top: 2px
        border: 1px solid #bbb
        color: #666
        border-radius: 10px
        .icon
          font-size: 24px
          width: auto
          padding-right: 4px
