//------------------------------------------------------------------------------

$shell-font = "Whitney A", "Whitney B"
$content-font = "Whitney A", "Whitney B"
$brand-font = "Gotham SSm A", "Gotham SSm B"
$icon-font = "Entypo"
$normal-font-weight = 400
$bold-font-weight = 500
$heavy-font-weight = 600

$overlay-zindex = 100000

//------------------------------------------------------------------------------

$gray = #89979e
$dark-gray = #2f3b41
$light-gray = #ecece8

$steel-blue = #131d29
$orange = #fe8b00
$purple = #c5358d
$teal = #33a3be
$white = #f8f8f8
$black = #212123
$bright-white = #fff
$dark-black = #000

//------------------------------------------------------------------------------

$sidebar-width = 220px
$stack-panel-width = 260px
$card-panel-width = 600px
$following-panel-width = 340px
$stack-header-height = 32px
$following-header-height = 32px
$corner-height = 66px
$content-margin = 10px
$panel-margin = 10px
$stack-card-margin = 6px
$following-card-margin = 6px
$shell-header-height = 42px
$shell-footer-height = 42px

//------------------------------------------------------------------------------

$nav-link-color = #aaa
$nav-link-active-color = $black
$nav-link-hover-color = #333
$nav-highlight-color = $steel-blue

$text-color = $black
$soft-text-color = #333
$subtle-text-color = #666
$disabled-text-color = #999
$sidebar-background-color = #333
$sidebar-header-text-color = #ccc
$sidebar-text-color = #999
$sidebar-active-text-color = $bright-white
$sidebar-active-background-color = #555
$close-link-color = $subtle-text-color
$close-link-hover-color = $text-color
$drop-indicator-background-color = #ddd

$steel-highlight-color = #eee
$steel-normal-color = #ddd
$steel-lowlight-color = #ccc
$steel-border-color = #999
$steel-light-border-color = #aaa
$panel-background-color = $white
$panel-border-color = #999
$panel-block-border-color = #aaa
$panel-block-header-background-color = #ccc
$panel-block-header-text-color = #666

$editable-hover-border-color = #aaa
$editable-active-border-color = #888
$editable-dirty-border-color = #090

$button-highlight-color = #fff
$button-normal-color = #eee
$button-lowlight-color = #ddd
$button-border-radius = 4px

$shadow-color = shadow(30%)
$shadow-blur = 3px

//------------------------------------------------------------------------------

$hover-animation-delay = 150ms
$activate-animation-delay = 150ms

//------------------------------------------------------------------------------
