.card.panel
  width: $card-panel-width
  min-width: $card-panel-width
  
  .card-panel-main
    position: relative
    flex: 1
    border-bottom: 1px solid $color-steel-medium
  
  &.slide-enter
    animation: card-enter 250ms ease-out
    z-index: $panel-animation-layer
    
  &.slide-leave
    animation: card-leave 200ms linear
    z-index: $panel-animation-layer  

@keyframes card-enter
  0%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $panel-margin
  50%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $card-panel-width + $panel-margin
  100%
    opacity: 1
    margin-left: 0
    margin-right: $panel-margin

@keyframes card-leave
  from
    opacity: 1
    margin-left: 0
  to
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
