.card-widgets
  margin: 2px 8px 2px 2px
  display: flex
  
  .right
    flex: 1
    display: flex
    justify-content: flex-end
    
  .card-widget
    margin-right: 20px
    font-size: 14px
    color: $color-ink-light
    font-weight: $bold-font-weight
  
  a, .trigger
    color: $color-ink-light
    text-decoration: none
    transition: color $hover-animation-delay linear
    &:visited { color: $color-ink-light }
    &:hover { color: $color-ink }
    &.follow-toggle > i { margin-right: 0px }
