.card-widgets
  margin-bottom: 6px
  
  div
    display: inline-block
    margin-right: 10px
    font-size: 14px
    color: $subtle-text-color
    
    a
      color: $subtle-text-color
      text-decoration: none
      transition: color $hover-animation-delay linear
      &:visited { color: $subtle-text-color }
      &:hover { color: $text-color }
