.card-header
  
  for $name, $color in $semantic-colors-background
    &.{$name}
      background: $color
      .controls
        color: $semantic-colors-border[$name]
        .trigger:hover { color: $semantic-colors-foreground[$name] }
  
  display: flex
  flex: none
  padding: 8px
  background: $color-steel
  border-bottom: 1px solid $color-steel-dark

  .card-owner
    flex: none
    height: 54px
    width: 54px
    font-size: 48px
    line-height: 46px
        
  .card-info
    flex: 1
  
  .controls
    margin-left: 8px
    .trigger
      transition: color $hover-animation-delay linear
      & > i { margin-right: 0px }
    
.card.complete, .card.deleted
  .card-header
    for $name, $color in $semantic-colors-background
      $alt = $color-steel-light
      &.{$name}
        background: linear-gradient(to bottom right, $color 25%, $alt 25%, $alt 50%, $color 50%, $color 75%, $alt 75%, $alt);
        background-size: 24px 24px
