.command
  padding: 8px
  font-size: 14px
  background: $color-steel
  border-top: 1px solid $color-steel-dark
  
  &.slide-enter { animation: command-enter 150ms ease-out }
  &.slide-leave { animation: command-leave 100ms linear }
  
  .confirm
    font-size: 16px
  
  .argument
    margin-bottom: 4px
    label
      display: block
      margin-bottom: 4px
      em
        font-style: normal
        color: $color-ink-light
        margin-left: 6px
        font-size: 11px
  
  .buttons
    margin-top: 10px

  textarea
    width: 100%
    padding: 8px
    font-size: 14px
    resize: none
    outline: none !important
    border: 1px solid $color-steel-light
    min-height: 60px
        
@keyframes command-enter
  from { transform: translateY(200px) }
  to   { transform: translateY(0px) }

@keyframes command-leave
  from { transform: translateY(0px) }
  to   { transform: translateY(200px) }
