.card-header
  
  for $name, $color in $semantic-colors-background
    &.{$name}
      background: $color
      .controls
        color: $semantic-colors-border[$name]
        .trigger:hover { color: $semantic-colors-foreground[$name] }
  
  display: flex
  flex: none
  padding: 8px
  background: $color-steel
  border-bottom: 1px solid $color-steel-dark

  .card-owner
    flex: none
    height: 54px
    width: 54px
    padding: 2px
    margin-right: 6px
    border: 1px solid $color-steel-medium
    border-radius: 6px
    background: $color-white
  
  .card-info
    flex: 1
  
  .controls
    margin-left: 8px
    .trigger
      transition: color $hover-animation-delay linear
      & > i { margin-right: 0px }
    
.card.complete, .card.deleted
  & > .card-header
    background: linear-gradient(to bottom right, white(0.5) 25%, transparent 25%, transparent 50%, white(0.5) 50%, white(0.5) 75%, transparent 75%, transparent);
    background-size: 16px 16px
