.card-followers-list
  display: inline-block
  vertical-align: middle
  margin: 0
  padding: 0
  
  li
    display: inline-block
    list-style-type: none
    margin-right: 2px
    &:last-child
      margin-right: 0
    
    .avatar
      height: 22px
      width: 22px
      padding: 2px
      border: 1px solid $steel-light-border-color
      border-radius: 50%
      background: $bright-white
