.card-widgets
  margin: 1px 0 6px 2px
  display: flex
  
  .card-widget
    margin-right: 20px
    font-size: 14px
    color: $color-ink-light
    font-weight: $bold-font-weight
  
  a, .trigger
    color: $color-ink-light
    text-decoration: none
    transition: color $hover-animation-delay linear
    &:visited { color: $color-ink-light }
    &:hover { color: $color-ink }
