.big-picture.panel
  flex: 1
  margin-right: 0px
  margin-bottom: 10px
  min-height: $big-picture-panel-min-height
  z-index: $panel-layer

  &.slide-enter
    animation: kind-enter 350ms ease-out
    z-index: $panel-animation-layer
    
  &.slide-leave
    animation: kind-leave 150ms linear
    z-index: $panel-animation-layer
  
  &:last-child
    margin-bottom: 0

  & > .content
    display: flex
    flex-direction: row
    overflow-x: auto
      
@keyframes kind-enter
  0%
    opacity: 0
    margin-top: -50%
    margin-bottom: $panel-margin
  50%
    opacity: 0
    margin-top: -50%
    margin-bottom: 50%
  100%
    opacity: 1
    margin-top: 0
    margin-bottom: $panel-margin

@keyframes kind-leave
  from
    opacity: 1
    margin-top: 0
  to
    opacity: 0
    margin-top: -50%
