.big-picture-card
  margin-bottom: 6px
  box-shadow: 1px 1px 0 black(10%)
  &:last-child { margin-bottom: 0px }
  
  for $name, $color in $semantic-colors-background
    &.{$name}
      background: $color
      border: 1px solid $semantic-colors-medium[$name]
      .controls
        color: $semantic-colors-border[$name]
        .trigger:hover { color: $semantic-colors-foreground[$name] }
      .big-picture-card-action
        border-color: $semantic-colors-medium[$name]

  .card-summary
    display: flex
    flex-direction: row
    padding: 8px
    
    .card-owner
      flex: none
    
    .card-info
      flex: 1
    
    .controls
      flex: none
      margin-left: 4px
      .trigger
        display: inline-block
        vertical-align: middle
        margin-right: 4px
        transition: color $hover-animation-delay linear
        &:last-child { margin-right: 0 }
        & > i { margin-right: 0 }
      
    .title
      font-size: 18px
      line-height: 22px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .location
      font-size: 14px
      font-weight: $bold-font-weight
      color: $color-ink-light
      i { margin-right: 4px }
  
  .big-picture-card-action-list
    &.empty { display: none }