.big-picture-column
  flex: 1
  min-width: $big-picture-column-minwidth
  border-right: 1px solid $color-steel-medium
  display: flex
  flex-direction: column
  &:last-child { border-right: none }
  
  & > .header
    display: flex
    width: 100%
    flex: none
    background: $color-steel-light
    padding: 8px
    border-bottom: 1px solid $color-steel-medium
    .avatar
      flex: none
      height: 38px
      width: 38px
      padding: 2px
      border: 1px solid $color-steel-medium
      background: $color-white
      border-radius: 6px
      margin-right: 8px
    .content
      flex: 1
      .name
        font-size: 16px
        font-weight: $bold-font-weight
        line-height: 22px
      .count
        color: $color-ink-light
        font-size: 14px
        font-weight: $bold-font-weight
  
  .big-picture-column-section
    border-top: 1px solid $color-steel
    &:first-child { border-top: 0px }
    
    .header
      display: flex
      width: 100%
      flex: none
      background: $color-steel-verylight
      padding: 6px 8px
      border-bottom: 1px solid $color-steel
      color: $color-ink-light
      font-weight: $bold-font-weight
      .name
        font-size: 14px
      .count
        flex: 1
        font-size: 13px
        text-align: right

  & > .content
    flex: 1
    min-height: 100%
    overflow-y: auto

  .cards
    padding: 8px