.manage-teams-dialog
  
  .team-list
    border: 1px solid $color-steel
    display: flex
    flex-direction: column
    height: 400px
    cursor: pointer
    background: $color-white
    overflow-y: auto
