.manage-kinds-dialog
  
  .kind-list
    border: 1px solid $color-steel
    display: flex
    flex-direction: column
    height: 400px
    background: $color-white
    overflow-y: auto
  
  .group-header
    border-bottom: 1px solid $color-steel-light
    padding: 2px 12px
    background: $color-steel-verylight
    font-weight: $heavy-font-weight
    font-size: 12px
    text-transform: uppercase
    color: $color-ink-light
