@import '~Theme.styl'

.card-checklist-action-list
  min-height: 5px
  &.dragging { min-height: 42px }
  
  & > li
    border: 1px solid $color-steel
    border-top: none
    &:first-child { border-top: 1px solid $color-steel }

  .drag-placeholder
    height: 42px
    visibility: normal
    background: $color-selection
