.card-action
  display: flex
  flex-direction: row
  background-color: $color-white
  transition: background $hover-animation-delay ease
  &:hover { background-color: $color-paper }

  .move-handle
    flex: none
    width: 8px
    background-color: $color-steel-light
    border-right: 1px solid $color-steel
    cursor: move
    
  .input
    flex: 1
    font-size: 16px
    margin: 6px 10px 2px 8px
    line-height: 1.3em
    textarea:focus
      color: $color-ink !important
      text-decoration: none !important
      
  .right-controls
    flex: none
    padding-top: 10px
    margin-right: 10px
    opacity: 0
    transition: opacity $hover-animation-delay linear
    i
      margin: 0
      color: $color-ink-subtle
      transition: color $hover-animation-delay linear
      &:hover { color: $color-ink }
    .icon-trash { cursor: pointer }
  
  .overlay
    text-align: left
    .buttons
      padding-top: 4px

  &:hover
    .right-controls { opacity: 1 }
  
  &.inprogress
    background: $color-good-light
    .input { color: $color-good }

  &.warning
    background: $color-bad-light
    .input { color: $color-bad }

  &.complete
    background: $color-steel-verylight
    .input
      textarea
        color: $color-ink-light
        text-decoration: line-through
    
  &.sortable-ghost
    opacity: 0.5
