.card-checklist-action-list
  min-height: 5px
  &.dragging { min-height: 42px }
  
  & > li
    box-shadow: 1px 1px 0 black(10%)
    border: 1px solid $color-steel-medium
    border-top: none
    &:first-child { border-top: 1px solid $color-steel-medium }

  .drag-placeholder
    height: 42px
    visibility: normal
    background: $color-selection
