.card-action-owner
  position: relative
  flex: none
  cursor: pointer
  text-align: center
  margin-right: 10px
  
  & > i
    color: $color-ink-subtle
    width: 24px
    margin-top: 12px
    margin-right: 0
    
  .avatar
    height: 24px
    width: 24px
    border-radius: 3px
    margin-top: 8px

  .overlay
    width: 250px
