.create-action-form
  display: flex
  margin-top: 10px
  
  .input
    flex: 1
    font-size: 16px
  
  .button-group
    flex: none
    background: $color-steel-light
    margin-left: -1px
    
    button
      line-height: 19px
      padding: 4px 6px
      &:first-child
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
