.team-option
  display: flex
  cursor: pointer
  padding: 4px 8px
  height: 32px
  
  &:hover, &.highlighted
    background: $color-selection
  
  & > i
    padding: 3px 4px
    color: $color-ink-subtle
  
  .text
    flex: 1
    align-self: center
    font-size: 14px
