.stack-card
  display: block
  position: relative
  margin-bottom: 6px
  cursor: move
  
  for $name, $color in $semantic-colors-border
    &.{$name}
      background: $semantic-colors-medium[$name]
      border: 1px solid $color
      & > .content
        background: $semantic-colors-background[$name]
        border-left: 1px solid $color
  
  &:last-child { margin-bottom: 0 }
  
  & > .content
    
    display: block
    cursor: pointer
    padding: 6px 8px
    margin-left: 8px
    
    .title
      color: $color-ink
      font-size: 16px
      line-height: 20px
      overflow: hidden
  
  &.ui-sortable-helper
    box-shadow: 0 0 5px black(30%)