.stack-card-list
  overflow-y: auto
  height: 100%
  margin: 0
  padding: $stack-card-margin
  
  li
    margin-bottom: $stack-card-margin
    
  .drag-placeholder
    visibility: normal
    background: $drop-indicator-background-color
