.stack-card
  position: relative;
  background: $bright-white
  border: 1px solid #bbb
  transition: background $activate-animation-delay linear
  cursor: pointer
  
  &:last-child { margin-bottom: 0 }
  &.active { background: #ececec }
  
  &.ui-sortable-helper
    list-style-type: none
    cursor: move
    border: 1px solid #aaa
    box-shadow: 0 0 5px $shadow-color
  
  .summary
    padding: 8px
    border-left: 4px solid transparent
    
    .title
      color: $text-color
      font-size: 16px
      line-height: 18px
      font-weight: $bold-font-weight
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .subtitle
      color: $very-subtle-text-color
      font-size: 12px
      font-style: italic
