.stack > .header
  flex: none
  width: 100%
  height: $stack-header-height
  font-size: 14px
  font-weight: $bold-font-weight
  color: $black
  background: linear-gradient(to bottom, #eee, #ccc)
  overflow: hidden
  padding: 8px 6px
  border-bottom: 1px solid $panel-border-color
  
  .title
    display: inline-block
    padding-left: 2px
