$big-picture-card-border-radius = 3px

.big-picture-card
  margin-bottom: 8px
  border-radius: $big-picture-card-border-radius
  border: 1px solid $color-steel-medium
  box-shadow: 1px 1px 0 black(10%)
  &:last-child { margin-bottom: 0px }
  
  for $name in $color-names
    &.{$name}
      background: theme-color($name, 200)
      & > .content
        border-left: 1px solid theme-color($name, 300)
  
  & > .content
    margin-left: 8px
    background: $color-paper
    border-top-right-radius: $big-picture-card-border-radius
    border-bottom-right-radius: $big-picture-card-border-radius
    
  .card-summary
    display: flex
    flex-direction: row
    padding: 8px
    
    .card-owner
      flex: none
    
    .card-info
      position: relative
      flex: 1
    
    .card-widgets
      margin: 3px 0px 6px 0px
      display: flex
      color: $color-ink-light
      .trigger
        &:hover { color: $color-ink }
      .location
        flex: 1
        font-size: 14px
        font-weight: $bold-font-weight
        transition: color $hover-animation-delay linear
        &:hover { color: $color-ink }
        i { margin-right: 4px }
      .follow-toggle
        flex: none
        color: $color-ink-subtle
        opacity: 0
        transition: all $hover-animation-delay linear
        &.active { opacity: 1 }
      
    .title
      font-size: 18px
      line-height: 22px

  .card-actions
    border-top: 1px solid $color-divider
    padding-top: 4px
  
  &:hover
    .follow-toggle { opacity: 1 !important }

  &.complete
    .card-widgets
      position: absolute
      right: 0
      top: 0
  
  .big-picture-card-action-list
    &.empty { display: none }