.big-picture-card
  margin-bottom: 8px
  border-radius: 3px
  box-shadow: 1px 1px 0 black(10%)
  &:last-child { margin-bottom: 0px }
  
  for $name, $color in $semantic-colors-background
    &.{$name}
      background: $color
      border: 1px solid $semantic-colors-medium[$name]
      .trigger
        color: $semantic-colors-border[$name]
        &:hover { color: $semantic-colors-foreground[$name] }
      .card-actions
        border-color: $semantic-colors-medium[$name]
      .stage
        background: $semantic-colors-medium[$name]

  .card-summary
    display: flex
    flex-direction: row
    padding: 8px
    
    .card-owner
      flex: none
    
    .card-info
      flex: 1
    
    .card-widgets
      margin: 3px 0px 6px 0px
      display: flex
      color: $color-ink-light
      .location
        flex: 1
        font-size: 14px
        font-weight: $bold-font-weight
        transition: color $hover-animation-delay linear
        &:hover { color: $color-ink }
        i { margin-right: 4px }
      .follow-toggle
        flex: none
        transition: color $hover-animation-delay linear
      
    .title
      font-size: 18px
      line-height: 22px

  .card-actions
    border-top: 1px dotted
    padding: 4px 0px

  .big-picture-card-action-list
    &.empty { display: none }
