.big-picture-card-action
  display: flex
  flex-direction: row
  padding: 2px 8px 2px 8px
  
  .status
    flex: none
      
  .text
    flex: 1
    font-size: 15px

  .stage
    flex: none
    color: $color-ink-light
    font-size: 13px
    font-weight: $bold-font-weight
    line-height: 17px
    padding: 2px 6px
    border-radius: 4px
