.big-picture-card
  margin-bottom: 8px
  border-radius: 3px
  box-shadow: 1px 1px 0 black(10%)
  &:last-child { margin-bottom: 0px }
  
  &.complete
    .card-widgets
      position: absolute
      right: 0
      top: 0
  
  for $name in $color-names
    &.{$name}
      background: theme-color($name, 100)
      border: 1px solid theme-color($name, 200)
      .trigger
        color: theme-color($name, 300)
        &:hover { color: theme-color($name, 700) }
      .card-actions
        border-color: theme-color($name, 200)
      .stage
        background: theme-color($name, 200)

  .card-summary
    display: flex
    flex-direction: row
    padding: 8px
    
    .card-owner
      flex: none
    
    .card-info
      position: relative
      flex: 1
    
    .card-widgets
      margin: 3px 0px 6px 0px
      display: flex
      color: $color-ink-light
      .location
        flex: 1
        font-size: 14px
        font-weight: $bold-font-weight
        transition: color $hover-animation-delay linear
        &:hover { color: $color-ink }
        i { margin-right: 4px }
      .follow-toggle
        flex: none
        transition: color $hover-animation-delay linear
      
    .title
      font-size: 18px
      line-height: 22px

  .card-actions
    border-top: 1px dotted
    padding: 4px 0px

  .big-picture-card-action-list
    &.empty { display: none }
