.big-picture-column
  flex: 1
  min-width: $big-picture-column-min-width
  border-right: 1px solid $color-steel-medium
  display: flex
  flex-direction: column
  &:last-child { border-right: none }
  
  & > .header
    display: flex
    width: 100%
    flex: none
    background: $color-steel-light
    padding: 8px 10px
    border-bottom: 1px solid $color-steel-medium
    .avatar
      flex: none
      margin-right: 8px
    .content
      flex: 1
      display: flex
      flex-direction: row
      align-items: center
      .name
        flex: 1
        font-size: 16px
        font-weight: $bold-font-weight
      .count
        flex: none
        color: $color-ink-light
        font-size: 14px
        font-weight: $bold-font-weight
  
  .cards
    padding: 10px
    
  .big-picture-column-section
    
    .header
      display: flex
      flex: none
      padding: 10px
      font-weight: $bold-font-weight
      .name
        flex: 1
        font-size: 14px
      .count
        font-size: 13px
        min-width: 30px
        padding: 4px 7px
        font-weight: $heavy-font-weight
        text-align: center
        line-height: 1em
        border-radius: 8px
          
    &.warning
      .header
        .name
          color: $color-bad
        .count
          color: $color-white
          background: $color-bad
        
    &.inprogress
      .header
        .name
          color: $color-good
        .count
          color: $color-white
          background: $color-good
        
    &.idle
      .header
        .name
          color: $color-caution
        .count
          color: $color-white
          background: $color-caution        
          
    &.notstarted, &.complete
      .header
        .name
          color: $color-ink-light
        .count
          color: $color-ink-light
          background: $color-steel-verylight
        
    .cards
      padding-top: 0px

  & > .content
    flex: 1
    min-height: 100%
    overflow-y: auto
