.user-summary
  display: flex
  flex-direction: row
  background: $color-steel-verylight
  border-bottom: 1px solid $color-steel-medium
  
  .avatar
    margin: 8px
  
  .user-summary-right
    flex: 1
    padding: 8px 0
    
  .user-name
    margin: 0 8px 0 -4px
    padding: 0 4px !important
    font-size: 22px
    font-weight: $bold-font-weight
    line-height: 28px
  
  .user-title
    margin: 0 8px 0 -4px
    padding: 2px 4px !important
    font-size: 16px
    
  .user-local-time
    margin-top: 4px
    font-size: 13px
    color: $color-ink-light
    font-weight: $heavy-font-weight
