.user-team
  margin-bottom: 8px
  
  .user-team-name
    font-size: 14px
    font-weight: $bold-font-weight
    margin-bottom: 4px
  
  .user-team-members
    display: flex
    flex-direction: row
    flex: 1
    
    .user-team-member
      margin-right: 4px
    
    .avatar
      cursor: pointer
      width: 24px
      height: 24px