.account-discount
  display: flex
  flex-direction: row
  align-items: center
  margin: 8px 0
  padding: 8px
  border: 1px solid $color-steel-light
  background: $color-steel-verylight

  .account-discount-info
    flex: 1
    font-size: 16px
    em
      font-style: normal
      font-weight: $heavy-font-weight
