.queue-column
  flex: 1
  min-width: $bigpicture-column-minwidth
  background: $panel-background-color
  border-right: 1px solid $steel-light-border-color
  display: flex
  flex-direction: column
  &:last-child
    border-right: none
  
  & > .header
    width: 100%
    flex: none
    background: #eee
    padding: 8px
    border-bottom: 1px solid $steel-light-border-color
    .avatar
      float: left
      height: 32px
      width: 32px
      border-radius: 2px
      margin-right: 4px
    .name
      color: $black
      font-size: 15px
      font-weight: $bold-font-weight
    .count
      color: #999
      font-size: 13px
      font-weight: $bold-font-weight

  .cards
    flex: 1
    min-height: 100%
    margin: 0
    padding: 0
    overflow-y: auto
    
    & > li
      list-style-type: none
      border: 1px solid #bbb
      margin: 8px