@import '../theme.styl'

.kind-stage-editor
  flex: 1
  display: flex
  flex-direction: column
  margin-top: 14px
  
  .add-stage
    flex: none
    padding: 4px
    background: $color-steel-light
    border: 1px solid $color-steel
    border-bottom: none
    input
      font-size: 16px
      border-radius: 6px
      
  .kind-stage-list
    flex: 1
    padding: 6px
    overflow-y: auto
    border: 1px solid $color-steel
    background: $color-white
  
    .drag-placeholder
      border: 1px dashed black(0.25)
      background: white(0.5)
      margin-bottom: 6px

.kind-stage-list-item
  cursor: move
  background: $color-steel-light
  border: 1px solid $color-steel
  margin-bottom: 6px
  
  .stage-content
    display: flex
    flex-direction: row
    background: $color-steel-verylight
    border-left: 1px solid $color-steel
    padding: 4px 6px
    margin-left: 10px
    
    & > i
      flex: none
      font-size: 20px
      line-height: 30px
      color: $color-ink-light
      margin-right: 0

    .input
      flex: 1
      input
        font-size: 16px
        font-weight: $bold-font-weight
    
    .trigger
      margin-left: 4px
      line-height: 30px
      color: $color-ink-light
      transition: color $hover-animation-delay linear
      &:hover { color: $color-ink }
      & > i { margin-right: 0 }