.walkthrough-intro
  width: 600px
  color: $color-white
  padding: 30px
  background: $color-charcoal-dark
  border: 2px solid $color-white
  border-radius: 10px
  text-align: center
  
  .flicker
    height: 200px
    margin-bottom: 16px
    
  p
    font-size: 20px
    line-height: 24px
    margin: 0 0 16px 0
    &:last-child
      margin-bottom: 0
