.walkthrough-outro
  width: 600px
  color: $color-white
  padding: 30px
  background: $color-charcoal-dark
  border: 2px solid $color-white
  border-radius: 10px
  text-align: center
  
  .flicker
    height: 200px
    margin-bottom: 16px
    
  p
    font-size: 20px
    line-height: 24px
    margin: 0 0 16px 0

  .complete
    display: inline-block
    font-size: 20px
    font-weight: $heavy-font-weight
    border: 2px solid
    border-radius: 10px
    padding: 10px 30px
    cursor: pointer
    color: $color-brand-orange
    border-color: $color-brand-orange
    tween(150ms)
    
    &:hover
      color: $color-white
      background: $color-brand-orange
      text-shadow: 0 2px 0 black(30%)