.walkthrough
  
  .walkthrough-underlay
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: radial-gradient(center, ellipse cover, black(50%) 0%, black(80%) 100%)
    z-index: 100
    
  .walkthrough-overlay
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: transparent
    z-index: 102
    display: flex
    align-items: center
    justify-content: center

  .flicker-fixed
    position: absolute
    left: 20px
    bottom: 50px
    height: 200px