$circle-size = 60px

.walkthrough-progress
  position: absolute
  bottom: 20px
  right: 20px
  width: $circle-size
  height: $circle-size
  
  &.start
    i
      animation: pulse 1.5s ease infinite
      
  &.end
    .walkthrough-progress-advance
      background: green(500) !important
      color: black(100%) !important
      animation: pulse 1s ease-in
    .mask, .fill
      background: black(100%) !important
  
  .walkthrough-progress-advance
    display: block
    position: absolute
    z-index: 2
    border-radius: 50%
    top: 5px
    left: 5px
    background: black(100%)
    color: $color-white

    i
      font-size: $circle-size - 10
      line-height: $circle-size - 10
      margin-right: 0

  .walkthrough-progress-bar
    width: $circle-size
    height: $circle-size
    background: black(100%)
    border-radius: 50%
    z-index: 1

    .mask, .fill
      position: absolute
      width: $circle-size
      height: $circle-size
      border-radius: 50%
      backface-visibility: hidden
      transition: transform 150ms ease
      
    .mask
      clip: rect(0, $circle-size, $circle-size, $circle-size / 2)
      .fill
        clip: rect(0, $circle-size / 2, $circle-size, 0)
        background: green(500)

@keyframes pulse
  0%   { transform: scale(1)    }
  50%  { transform: scale(1.75) }
  100% { transform: scale(1)    }
