.bottom-right
  position: absolute
  bottom: 5px
  right: 10px
  
  a
    display: inline-block
    vertical-align: middle
    margin-right: 4px
    color: $subtle-text-color
    text-decoration: none
    transition: all $hover-animation-delay linear
    &:hover, &:active
      color: $text-color
      
  .avatar
    display: inline-block
    vertical-align: middle
    width: 32px
    height: 32px
    padding: 2px
    background: $white
    border: 1px solid $steel-border-color
    border-radius: 50%
