.bottom-center
  width: 150px
  text-align: center
  margin: 0px auto
  
  .brand
    padding-top: 7px
    font: 14px $brand-font
    color: $subtle-text-color
    font-weight: 600
    text-transform: uppercase
    
    .version
      font-size: 9px
      color: $disabled-text-color
