.bottom-right
  position: absolute
  bottom: 5px
  right: 10px
  
  a
    display: inline-block
    vertical-align: middle
    margin-right: 4px
    color: $color-ink-light
    text-decoration: none
    transition: all $hover-animation-delay linear
    &:hover, &:active
      color: $color-ink
      
  .avatar
    display: inline-block
    vertical-align: middle
    width: 32px
    height: 32px
    padding: 2px
    background: $color-white
    border: 1px solid $color-steel-dark
    border-radius: 6px
