.logo-corner
  position: absolute
  bottom: 0
  left: 0
  width: $sidebar-width
  height: $logo-height
  z-index: 1000
  padding: 4px
  background: $dark url('/dist/logo.png') 4px 4px no-repeat
  
  ul.links
    margin: 0
    padding: 2px 0 0 54px
    li
      list-style-type: none
      height: 20px
      a
        font-size: 13px
        color: #666
        text-decoration: none
        &:hover
          color: #fff
