.navigation
  height: 100%
  float: left
  
  a
    position: relative
    overflow: hidden
    display: inline-block
    width: 140px
    height: 100%
    padding: 6px 0 10px 0
    font-size: 15px
    line-height: 30px
    color: $sidebar-text-color
    border-top: 6px solid transparent
    text-decoration: none
    text-align: center
    transition: all $hover-animation-delay linear
    &:hover
      color: #fff
    &.active
      color: #fff
      border-top: 6px solid $active-marker-color
      background: $dark
      .icon
        color: rgba(255, 255, 255, 0.1)
        
    .icon
      position: absolute
      top: 40px
      left: 0
      color: transparent
      width: 140px
      text-align: center
      font-size: 140px
