.organization-corner
  float: left
  width: $sidebar-width
  height: 100%
  padding: 8px 4px 4px 10px
  background: $organization-background
  
  .organization-name
    float: left
    font-size: 14px
    color: $organization-name-text-color
    text-shadow: $organization-name-text-shadow
  
  .menu-trigger
    float: right
    color: $organization-menu-trigger-color
    padding-top: 4px
    padding-right: 8px
    font: 24px/16px normal $icon-font
  
  .widgets
    clear: both
    .presence
      font-size: 14px
      font-weight: 600
      color: $organization-widget-color
    .icon
      width: 18px
      font-size: 24px
      text-align: left
      color: $organization-widget-color
