.shell-header
  position: absolute
  z-index: $shell-layer
  top: 0
  left: 0
  height: $shell-header-height
  width: 100%
  background: $color-steel
  border-bottom: 1px solid $color-steel-dark
  box-shadow: 0px 1px 1px black(30%)
