.shell-footer
  position: absolute
  z-index: $shell-layer
  bottom: 0
  left: 0
  height: $shell-footer-height
  width: 100%
  background: linear-gradient(to bottom, $shell-highlight-color, $shell-lowlight-color)
  border-top: 1px solid $panel-border-color
