.shell-header
  position: absolute
  z-index: $shell-layer
  top: 0
  left: 0
  height: $shell-header-height
  width: 100%
  background: linear-gradient(to bottom, $shell-highlight-color, $shell-lowlight-color)
  border-bottom: 1px solid $shell-border-color
