.shell-header
  position: absolute
  z-index: $shell-layer
  top: 0
  left: 0
  height: $shell-header-height
  width: 100%
  background: $color-steel
  border-top: 1px solid $color-steel-light
  border-bottom: 1px solid $color-steel-medium
