.shell
  height: 100vh
  width: 100vw
  margin: 0
  padding: 0
  overflow: hidden

.shell-header
  position: absolute
  top: 0
  left: 0
  height: $header-height
  width: 100%
  z-index: 9999
  
  .header-bar
    position: relative
    margin-left: $sidebar-width
    height: 100%
    background: $normal
