.card
  border: 1px solid $panel-border-color
  background: $panel-background-color
  width: $card-panel-width
  min-width: $card-panel-width

  .details
    position: relative
    flex: 1
    overflow-x: hidden
    overflow-y: auto
    
    .body
      font-size: 18px
      font-weight: $normal-font-weight
      line-height: 24px
      margin: 10px 10px 0px 10px

@keyframes card-enter
  0%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $panel-margin
  50%
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)
    margin-right: $card-panel-width + $panel-margin
  100%
    opacity: 1
    margin-left: 0
    margin-right: $panel-margin

.card.slide-enter
  animation: card-enter 500ms ease-out

@keyframes card-leave
  from
    opacity: 1
    margin-left: 0
  to
    opacity: 0
    margin-left: -($card-panel-width + $panel-margin)

.card.slide-leave
  animation: card-leave 250ms linear
