.actions
  margin: 10px
  border: 1px solid #ccc
  border-radius: 4px
  background: $bright-white
  
  .stage
    border-bottom: 1px solid #ccc
    padding: 10px
    transition: all 1s ease-in-out
    &:last-child { border-bottom: none }
    
    .title
      font-size: 16px
      font-weight: $bold-font-weight
      margin-bottom: 4px
      
  ul
    margin: 0
    padding: 0
    list-style-type: none
    
    .action
      padding: 2px 0
      
      .handle
        float: right
        opacity: 0
        color: #999
        margin-left: 6px
        transition: opacity $hover-animation-delay ease-in-out
        
      .owner
        display: inline-block
        vertical-align: middle
        color: #999
        margin-right: 6px
        
      .status
        display: inline-block
        vertical-align: middle
        margin-right: 6px
        border: 1px solid #999
        border-radius: 4px
        height: 26px
        line-height: 26px
        background: $bright-white
        text-align: center
        
      .text
        display: inline-block
        vertical-align: middle
        font-size: 18px
        width: $card-panel-width - 128px
        
      &.complete
        .status
          color: #666
          background: #ddd
        .text
          text-decoration: line-through
          color: #666
          &:focus { text-decoration: none }
            
      &.warning
        .status { color: #900 }
        .text { color: #900 }
          
      &.inprogress
        .status { color: #090 }
        .text { color: #090 }
          
      &:hover
        .handle { opacity: 1 }
