.command
  padding: 10px
  font-size: 14px
  
  .argument
    margin-bottom: 4px
    label
      display: block
      margin-bottom: 4px
      em
        font-style: normal
        color: #666
        margin-left: 6px
        font-size: 11px

  textarea
    width: 100%
    padding: 8px
    font-size: 14px
    resize: none
    outline: none !important
    border: 1px solid #999
    min-height: 60px
        
@keyframes command-enter
  from { margin-top: -200px }
  to   { margin-top: 0px }

.command.slide-enter
  animation: command-enter 200ms ease-out

@keyframes command-leave
  from { margin-top: 0px }
  to   { margin-top: -200px }

.command.slide-leave
  animation: command-leave 100ms linear
