.notes
  margin: 0
  padding: 10px
  
  li
    list-item-type: none

.note
  
  .avatar
    display: inline-block
    vertical-align: top
    height: 24px
    width: 24px
    padding: 2px
    border: 1px solid $steel-light-border-color
    border-radius: 50%
    background: $bright-white
  
  .note-body
    display: inline-block
    vertical-align: top

    &.comment
      color: $text-color
      
    &.activity
      color: $subtle-text-color
