.search
  background: $search-background
  padding: 8px

  input
    width: 100%
    font-size: 13px
    padding: 8px 12px
    border: 0;
    border-radius: 8px
    background: $dark
    transition: background $activate-animation-delay ease-out;
    
    &:focus
      color: #fff
      outline: none !important
