.stack > .footer
  flex: none
  position: relative
  z-index: 1000
  box-shadow: 0 -1px $shadow-blur $shadow-color
  padding: 10px
  background: linear-gradient(to bottom, $steel-highlight-color, $steel-lowlight-color)
  border-top: 1px solid $steel-light-border-color
  height: $stack-header-height
