.stack
  width: $stack-panel-width
  min-width: $stack-panel-width
  border: 1px solid $panel-border-color
  background: $panel-background-color
  z-index: 100
      
  .cards
    overflow-x: hidden
    overflow-y: auto
    height: 100%
    margin: 0
    padding: $stack-card-margin
    
    li
      margin-bottom: $stack-card-margin
      height: 50px
      
    .drag-placeholder
      visibility: normal
      background: $drop-indicator-background-color
    
  .empty-message
    position: absolute
    left: 0
    top: 50%
    width: 100%
    font-size: 14px
    font-weight: $bold-font-weight
    color: #ccc
    text-align: center

@keyframes stack-enter
  0%
    opacity: 0
    margin-left: -($stack-panel-width + $panel-margin)
    margin-right: $panel-margin
  50%
    opacity: 0
    margin-left: -($stack-panel-width + $panel-margin)
    margin-right: $stack-panel-width + $panel-margin
  100%
    opacity: 1
    margin-left: 0
    margin-right: $panel-margin

.stack.slide-enter
  animation: stack-enter 300ms ease-out
  z-index: 99

@keyframes stack-leave
  from
    opacity: 1
    margin-left: 0
  to
    opacity: 0
    margin-left: -($stack-panel-width + $panel-margin)

.stack.slide-leave
  animation: stack-leave 150ms linear
  z-index: 99
