$stack-card-border-radius = 3px

.stack-card
  display: block
  position: relative
  margin-bottom: 6px
  border: 1px solid $color-steel-medium
  border-radius: $stack-card-border-radius
  cursor: move
  box-shadow: 1px 1px 0 black(10%)
  
  for $name in $color-names
    &.{$name}
      background: theme-color($name, 200)
  
  &:last-child { margin-bottom: 0 }
  
  & > .content
    
    display: block
    cursor: pointer
    padding: 6px 8px
    margin-left: 8px
    min-height: 60px
    background: $color-paper
    border-top-right-radius: $stack-card-border-radius
    border-bottom-right-radius: $stack-card-border-radius
    
    .title
      color: $color-ink
      font-size: 16px
      line-height: 20px
      overflow: hidden
  
  &.sortable-ghost
    opacity: 0.5
