.stack-card
  display: block
  position: relative
  margin-bottom: 6px
  border-radius: 3px
  cursor: move
  box-shadow: 1px 1px 0 black(10%)
  
  for $name in $color-names
    &.{$name}
      background: theme-color($name, 200)
      border: 1px solid theme-color($name, 200)
      & > .content
        background: theme-color($name, 100)
  
  &:last-child { margin-bottom: 0 }
  
  & > .content
    
    display: block
    cursor: pointer
    padding: 6px 8px
    margin-left: 8px
    min-height: 60px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    
    .title
      color: $color-ink
      font-size: 16px
      line-height: 20px
      overflow: hidden
  
  &.ui-sortable-helper
    box-shadow: 0 0 5px black(30%)