@import '~Theme.styl'

.stack-card
  display: block
  position: relative
  margin-bottom: 6px
  border-radius: 3px
  cursor: move
  box-shadow: 1px 1px 0 black(10%)
  
  for $name, $color in $semantic-colors-medium
    &.{$name}
      background: $color
      border: 1px solid $color
      & > .content
        background: $semantic-colors-background[$name]
  
  &:last-child { margin-bottom: 0 }
  
  & > .content
    
    display: block
    cursor: pointer
    padding: 6px 8px
    margin-left: 8px
    min-height: 60px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    
    .title
      color: $color-ink
      font-size: 16px
      line-height: 20px
      overflow: hidden
  
  &.ui-sortable-helper
    box-shadow: 0 0 5px black(30%)