.bottom-right
  position: absolute
  bottom: 5px
  right: 10px
  
  .current-user
    position: relative
    color: $color-ink-light
    transition: all $hover-animation-delay linear
    &:hover, &:active
      color: $color-ink
    
    & > i
      display: inline-block
      vertical-align: middle
        
    .avatar
      display: inline-block
      vertical-align: middle
