.bottom-center
  width: 100%
  text-align: center
  
  .brand
    padding-top: 7px
    font: 14px $brand-font
    color: black(65%)
    font-weight: 600
    text-transform: uppercase
    
    .version
      font-size: 9px
      color: black(35%)
