.shell-footer
  position: absolute
  bottom: 0
  left: 0
  height: $shell-footer-height
  width: 100%
  background: $color-steel
  border-top: 1px solid $color-steel-light
  box-shadow: 0 -1px 0 $color-steel-medium
